@using taskify_font_end.Models.DTO;
@using taskify_utility;
@{
    string currentController = ViewContext.RouteData.Values["controller"] as string;
    bool modelIsNull = Model == null;
    var workspaceId = ViewBag.SelectedWorkspaceId as int?;
    var workspaces = ViewBag.Workspaces as List<WorkspaceDTO>;

}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme menu-container">
    <div class="app-brand demo">
        <a asp-action="Dashboard" asp-controller="Home" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="~/image/wkxkoc9sktp18zkesk6l7elhi6zjhubntr7u7ik3.png" width="200px" alt="" />
            </span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="btn-group dropend px-2">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Workspace
        </button>
        <ul class="dropdown-menu">
            @if (workspaces != null && workspaces.Count > 0)
            {
                foreach (var item in workspaces)
                {
                    <li>
                        <a class="dropdown-item"
                           asp-action="Dashboard" asp-controller="Home" asp-route-id="@item.Id"><i class='menu-icon tf-icons bx @(item.Id == workspaceId ? "bx-check-square" : "bx-square") @(modelIsNull && item.Id == workspaces.FirstOrDefault()?.Id ? "bx-check-square": "")  text-primary'></i>@item.Title</a>
                    </li>
                }
            }
            
            <li>
                <hr class="dropdown-divider" />
            </li>
            <li>
                <a class="dropdown-item" asp-action="Index" asp-controller="Workspace">
                    <i class='menu-icon tf-icons bx bx-bar-chart-alt-2 text-success'></i>Manage workspaces
                    <span class="badge badge-center bg-primary"> + @(ViewBag.workspaces != null ? ViewBag.workspaces.Count  : "0")</span>
                </a>
            </li>
            <li><a class="dropdown-item" asp-action="Create" asp-controller="Workspace"><i class='menu-icon tf-icons bx bx-plus text-warning'></i>Create workspace</a></li>
            <li>
            <li>
                <a class="dropdown-item" asp-action="Update" asp-route-id="@workspaceId" asp-controller="Workspace">
                    <i class='menu-icon tf-icons bx bx-edit text-info'></i>Edit workspace
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-action="RemoveMe" asp-controller="Workspace" asp-route-id="@workspaceId" id="remove-participant">
                    <i class='menu-icon tf-icons bx bx-exit text-danger'></i>Remove me from workspace
                </a>

            </li>
        </ul>
    </div>
    <ul class="menu-inner py-1">
        <hr class="dropdown-divider" />
        <!-- Dashboard -->
        <li class="menu-item @(currentController == "Home" ? "active" : "")">
            <a asp-action="Dashboard" asp-controller="Home" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle text-danger"></i>
                <div>Dashboard</div>
            </a>
        </li>



        <li class="menu-item ">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-briefcase-alt-2 text-success"></i>
                <div>Projects</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item @(currentController == "Project" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Project" class="menu-link">
                        <div>Manage projects</div>
                    </a>
                </li>
                <li class="menu-item @(currentController == "Tag" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Tag" class="menu-link">
                        <div>Tags</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item @(currentController == "Task" ? "active" : "")">
            <a asp-action="Index" asp-controller="Task" class="menu-link">
                <i class="menu-icon tf-icons bx bx-task text-primary"></i>
                <div>Tasks</div>
            </a>
        </li>

        <li class="menu-item @(currentController == "Color" ? "active" : "")">
            <a asp-action="Index" asp-controller="Color" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-palette text-primary"></i>
                <div>Colors</div>
            </a>
        </li>


        <li class="menu-item @(currentController == "Status" ? "active" : "")">
            <a asp-action="Index" asp-controller="Status" class="menu-link">
                <i class='menu-icon tf-icons bx bx-grid-small text-secondary'></i>
                <div>Statuses</div>
            </a>
        </li>

        <li class="menu-item @(currentController == "Priority" ? "active" : "")">
            <a asp-action="Index" asp-controller="Priority" class="menu-link">
                <i class='menu-icon tf-icons bx bx-up-arrow-alt text-success'></i>
                <div>Priorities</div>
            </a>
        </li>

        <li class="menu-item @(currentController == "Workspace" ? "active" : "")">
            <a asp-action="Index" asp-controller="Workspace" class="menu-link">
                <i class='menu-icon tf-icons bx bx-check-square text-danger'></i>
                <div>Workspaces</div>
            </a>
        </li>

        <li class="menu-item ">
            <a asp-action="Chat" asp-controller="Chat" class="menu-link">

                <i class="menu-icon tf-icons bx bx-chat text-warning"></i>
                <div>
                    Chat <span class="flex-shrink-0 badge badge-center bg-danger w-px-20 h-px-20">0</span>
                </div>

            </a>
        </li>
        <li class="menu-item @(currentController == "Todo" ? "active" : "")">
            <a asp-action="Index" asp-controller="Todo" class="menu-link">
                <i class='menu-icon tf-icons bx bx-list-check text-dark'></i>
                <div>
                    Todos <span class="flex-shrink-0 badge badge-center bg-danger w-px-20 h-px-20">3</span>
                </div>
            </a>
        </li>

        <li class="menu-item @(currentController == "Meeting" ? "active" : "")">
            <a asp-action="Index" asp-controller="Meeting" class="menu-link">
                <i class="menu-icon tf-icons bx bx-shape-polygon text-success"></i>
                <div>
                    Meetings <span class="flex-shrink-0 badge badge-center bg-success w-px-20 h-px-20">0</span>
                </div>
            </a>
        </li>
        @if (User.IsInRole(SD.Admin))
        {
            <li class="menu-item @(currentController == "User" ? "active" : "")">
                <a asp-action="Index" asp-controller="User" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-group text-primary"></i>
                    <div>Users</div>
                </a>
            </li>
        }
        


        <li class="menu-item @(currentController == "Note" ? "active" : "")">
            <a asp-action="Index" asp-controller="Note" class="menu-link">
                <i class='menu-icon tf-icons bx bx-notepad text-primary'></i>
                <div>Notes</div>
            </a>
        </li>
        @if (User.IsInRole(SD.Admin))
        {
            <li class="menu-item ">
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-briefcase-alt-2 text-success"></i>
                    <div>Activities</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item @(currentController == "Activity" ? "active" : "")">
                        <a asp-action="Index" asp-controller="Activity" class="menu-link">
                            <div>Manage Activity</div>
                        </a>
                    </li>
                    <li class="menu-item @(currentController == "ActivityType" ? "active" : "")">
                        <a asp-action="Index" asp-controller="ActivityType" class="menu-link">
                            <div>Activity Types</div>
                        </a>
                    </li>
                </ul>
            </li>
        }

        <li class="menu-item @(currentController == "ActivityLog" ? "active" : "")">
            <a asp-action="Index" asp-controller="ActivityLog" class="menu-link">
                <i class='menu-icon tf-icons bx bx-line-chart text-warning'></i>
                <div>Activity Log</div>
            </a>
        </li>
    </ul>
</aside>