@using System.Security.Claims;
@{
    var userId = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
    var workspaceId = ViewBag.selectedWorkspaceId;
}
<div class="modal fade" id="edit_activity_type_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <form class="modal-content form-submit-event" asp-action="Update" asp-controller="ActivityType" method="POST">
            <input type="hidden" name="activityTypeDTO.Id" id="activity_type_id">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Update activity type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" id="activity_type_title" class="form-control" name="activityTypeDTO.Title"
                               placeholder="Please enter title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="activity_type_description" class="form-label">
                            Description
                        </label>
                        <textarea type="text" id="activity_type_description" class="form-control" name="activityTypeDTO.Description"
                                  placeholder="Please enter description"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary"
                        id="submit_btn">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="create_activity_type_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <form class="modal-content form-submit-event" asp-action="Create" asp-controller="ActivityType" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Create color</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" id="nameBasic" class="form-control" name="activityTypeDTO.Title"
                               placeholder="Please enter title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="description" class="form-label">
                            Description <span class="asterisk"></span>
                        </label>
                        <input type="text" id="description" class="form-control" name="activityTypeDTO.Description"
                               placeholder="Please input description" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary"
                        id="submit_btn">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>



<div class="modal fade" id="edit_activity_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <form class="modal-content form-submit-event" asp-action="Update" asp-controller="Activity" method="POST">
            <input type="hidden" name="activityDTO.Id" id="activity_id">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Update activity</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" id="activity_title" class="form-control" name="activityDTO.Title"
                               placeholder="Please enter title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="activity_description" class="form-label">
                            Description
                        </label>
                        <textarea type="text" id="activity_description" class="form-control" name="activityDTO.Description"
                               placeholder="Please enter description"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary"
                        id="submit_btn">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="create_activity_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <form class="modal-content form-submit-event" asp-action="Create" asp-controller="Activity" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Create color</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" id="nameBasic" class="form-control" name="activityDTO.Title"
                               placeholder="Please enter title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="description" class="form-label">
                            Description <span class="asterisk"></span>
                        </label>
                        <input type="text" id="description" class="form-control" name="activityDTO.Description"
                               placeholder="Please input description" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary"
                        id="submit_btn">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>



<div class="modal fade" id="edit_color_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <form class="modal-content form-submit-event" asp-action="Update" asp-controller="Color" method="POST">
            <input type="hidden" name="colorDTO.UserId" value="@userId">
            <input type="hidden" name="colorDTO.Id" id="color_id">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Update color</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" id="color_title" class="form-control" name="colorDTO.Title"
                               placeholder="Please enter title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="colorCode" class="form-label">
                            ColorCode <span class="asterisk">*</span>
                        </label>
                        <input type="color" id="color_code" class="form-control" name="colorDTO.ColorCode"
                               placeholder="Please select color code" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="color_description" class="form-label">
                            Description
                        </label>
                        <input type="text" id="color_description" class="form-control" name="colorDTO.Description"
                                  placeholder="Please enter description" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary"
                        id="submit_btn">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="create_color_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <form class="modal-content form-submit-event" asp-action="Create" asp-controller="Color" method="POST">
            <input type="hidden" value="@userId" name="colorDTO.UserId" />
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Create color</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" id="nameBasic" class="form-control" name="colorDTO.Title"
                               placeholder="Please enter title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="colorCode" class="form-label">
                            ColorCode <span class="asterisk">*</span>
                        </label>
                        <input type="color" id="colorCode" class="form-control" name="colorDTO.ColorCode"
                               placeholder="Please select color code" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="description" class="form-label">
                            Description <span class="asterisk"></span>
                        </label>
                        <input type="text" id="description" class="form-control" name="colorDTO.Description"
                               placeholder="Please input description" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary"
                        id="submit_btn">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>



<div class="modal fade" id="create_note_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content form-submit-event" asp-action="Create" asp-controller="Note" method="POST">
            <input type="hidden" name="noteDTO.UserId" value="@userId" />
            <input type="hidden" name="noteDTO.WorkspaceId" value="@workspaceId" />
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Create note                    </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" id="nameBasic" class="form-control" name="noteDTO.Title"
                               placeholder="Enter Title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic"
                               class="form-label">Description</label>
                        <textarea class="form-control" name="noteDTO.Description" placeholder="Please enter description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Color <span class="asterisk">*</span>
                        </label>
                        <select class="form-select" name="noteDTO.ColorId">
                            @if (ViewBag.colors != null && ViewBag.colors.Count > 0)
                            {
                                @foreach (var item in ViewBag.colors)
                                {
                                    <option class="badge bg-label-@item.Title" value="@item.Id">
                                        @item.Description
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary"
                        id="submit_btn">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="edit_note_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content form-submit-event" asp-action="Update" asp-controller="Note" method="POST">
            <input type="hidden" name="noteDTO.UserId" value="@userId" />
            <input type="hidden" name="noteDTO.Id" id="note_id">
            <input type="hidden" name="noteDTO.CreatedDate" id="note_createdDate">
            <input type="hidden" name="noteDTO.WorkspaceId" value="@workspaceId" />
            <input type="hidden" name="id" id="note_id">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Update note                    </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" class="form-control" id="note_title" name="noteDTO.Title"
                               placeholder="Enter Title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic"
                               class="form-label">Description</label>
                        <textarea class="form-control" id="note_description" name="noteDTO.Description" placeholder="Please enter description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Color <span class="asterisk">*</span>
                        </label>
                        <select class="form-select" id="note_color" name="noteDTO.ColorId">
                            @if (ViewBag.colors != null && ViewBag.colors.Count > 0)
                            {
                                @foreach (var item in ViewBag.colors)
                                {
                                    <option class="badge bg-label-@item.Title" value="@item.Id">
                                        @item.Description
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary"
                        id="submit_btn">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="create_status_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content form-submit-event" asp-action="Create" asp-controller="Status" method="POST">
            <input type="hidden" value="@userId" name="statusDTO.UserId" />
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Create status                    </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" id="nameBasic" class="form-control" name="statusDTO.Title"
                               placeholder="Please enter title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            COLOR <span class="asterisk">*</span>
                        </label>
                        <select class="form-select" id="color" name="statusDTO.ColorId">
                            @if (ViewBag.colors != null && ViewBag.colors.Count > 0)
                            {
                                @foreach (var item in ViewBag.colors)
                                {
                                    <option class="badge bg-label-@item.Title" value="@item.Id">
                                        @item.Description
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="description" class="form-label">
                            Description <span class="asterisk"></span>
                        </label>
                        <textarea type="text" id="description" class="form-control" name="statusDTO.Description"
                                  placeholder="Please enter description"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary"
                        id="submit_btn">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="edit_status_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-action="Update" asp-controller="Status" class="modal-content form-submit-event" method="POST">
            <input type="hidden" name="statusDTO.Id" id="status_id">
            <input type="hidden" name="statusDTO.UserId" value="@userId">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Update status                    </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" id="status_title" class="form-control" name="statusDTO.Title"
                               placeholder="Please enter title" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Color <span class="asterisk">*</span>
                        </label>
                        <select class="form-select" id="status_color" name="statusDTO.ColorId" required>
                            @if (ViewBag.colors != null && ViewBag.colors.Count > 0)
                            {
                                @foreach (var item in ViewBag.colors)
                                {
                                    <option class="badge bg-label-@item.Title" value="@item.Id">
                                        @item.Description
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Description
                        </label>
                        <textarea type="text" id="status_description" class="form-control" name="statusDTO.Description"
                                  placeholder="Please enter description"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary"
                        id="submit_btn">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="create_tag_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <form class="modal-content form-submit-event" asp-action="Create" asp-controller="Tag" method="POST">
            <input type="hidden" value="@userId" name="tagDTO.UserId" />
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Create tag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" id="nameBasic" class="form-control" name="tagDTO.Title"
                               placeholder="Please enter title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Color <span class="asterisk">*</span>
                        </label>
                        <select class="form-select" id="color" name="tagDTO.ColorId">
                            @if(ViewBag.colors != null && ViewBag.colors.Count > 0)
                            {
                                @foreach(var item in ViewBag.colors)
                                {
                                    <option class="badge bg-label-@item.Title" value="@item.Id">
                                        @item.Description
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="description" class="form-label">
                            Description <span class="asterisk"></span>
                        </label>
                        <textarea type="text" id="description" class="form-control" name="tagDTO.Description"
                            placeholder="Please enter description" ></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary"
                        id="submit_btn">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="edit_tag_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <form class="modal-content form-submit-event" asp-action="Update" asp-controller="Tag" method="POST">
            <input type="hidden" name="tagDTO.UserId" value="@userId">
            <input type="hidden" name="tagDTO.Id" id="tag_id">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Update tag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" id="tag_title" class="form-control" name="tagDTO.Title"
                               placeholder="Please enter title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Color <span class="asterisk">*</span>
                        </label>
                        <select class="form-select" id="tag_color" name="tagDTO.ColorId">
                            @if (ViewBag.colors != null && ViewBag.colors.Count > 0)
                            {
                                @foreach (var item in ViewBag.colors)
                                {
                                    <option class="badge bg-label-@item.Title" value="@item.Id">
                                        @item.Description
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Description
                        </label>
                        <textarea type="text" id="tag_description" class="form-control" name="tagDTO.Description"
                                  placeholder="Please enter description"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close</label>
                </button>
                <button type="submit" class="btn btn-primary"
                        id="submit_btn">
                    Update</label>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="create_todo_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content form-submit-event" asp-action="Create" asp-controller="Todo" method="POST">
            <input type="hidden" name="todoDTO.UserId" value="@userId" />
            <input type="hidden" name="todoDTO.WorkspaceId" value="@workspaceId" />
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Create todo                    </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" class="form-control" name="todoDTO.Title"
                               placeholder="Please enter title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Priority <span class="asterisk">*</span>
                        </label>
                        <select class="form-select" name="todoDTO.PriorityId">
                            @if(ViewBag.priorities != null && ViewBag.priorities.Count > 0)
                            {
                                @foreach(var item in ViewBag.priorities)
                                {
                                    <option class="badge bg-label-@item.Color?.Title" value="@item.Id">
                                        @item.Title
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="todoDTO.Description"
                          placeholder="Please enter description"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" id="submit_btn"
                        class="btn btn-primary">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="edit_todo_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-action="Update" asp-controller="Todo" class="modal-content form-submit-event" method="POST">
            <input type="hidden" name="todoDTO.Id" id="todo_id">
            <input type="hidden" name="todoDTO.UserId" id="todo_userId">
            <input type="hidden" name="todoDTO.WorkspaceId" id="todo_workspaceId">
            <input type="hidden" name="todoDTO.Status" id="todo_status">
            <input type="hidden" name="todoDTO.CreatedDate" id="todo_createdDate" />
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">
                    Update todo</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Title <span class="asterisk">*</span>
                        </label>
                        <input type="text" id="todo_title" class="form-control" name="todoDTO.Title"
                               placeholder="Please enter title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">
                            Priority <span class="asterisk">*</span>
                        </label>
                        <select class="form-select" id="todo_priority" name="todoDTO.PriorityId">
                            @if (ViewBag.priorities != null && ViewBag.priorities.Count > 0)
                            {
                                @foreach (var item in ViewBag.priorities)
                                {
                                    <option class="badge bg-label-@item.Color?.Title" value="@item.Id">
                                        @item.Title
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="todo_description" name="todoDTO.Description"
                          placeholder="Please enter description"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary"
                        id="submit_btn">
                    Update</span>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="leaveWorkspaceModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel2">Warning</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want leave this workspace?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-danger" id="confirm">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> '</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-danger"
                        id="confirmDelete">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteSelectedModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> '</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete selected record(s)?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-danger"
                        id="confirmDeleteSelections">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="duplicateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel2">Warning</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to duplicate?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>

                <button type="submit" class="btn btn-primary"
                        id="confirmDuplicate">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
