@using System.Security.Claims;
@using System.IO;
@model taskify_font_end.Models.DTO.ProjectDTO
@{
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.PathBase}";

    var startDate = Model.StartAt.Date;
    var endDate = Model.EndAt.Date;
    var duration = (endDate - startDate).Days + 1;
    int totalTask = 0;
    var userId = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
    foreach(var item in ViewBag.statuses)
    {
        totalTask += item.Tasks.Count;
    }
}


@functions {
    public string GetFileNameFromUrl(string url)
    {
        if (string.IsNullOrEmpty(url))
            return string.Empty;

        string[] segments = url.Split('/');
        return segments[segments.Length - 1];
    }
}


<div class="content-wrapper">
    <div class="container-fluid">
        <div class="d-flex justify-content-between mb-2 mt-4">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1">
                        <li class="breadcrumb-item">
                            <a asp-action="Dashboard" asp-controller="Home">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="Project">Projects</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Project" asp-action="Detail" asp-route-id="@Model.Id">@Model.Title</a>
                        </li>
                        <li class="breadcrumb-item active">View</li>
                    </ol>
                </nav>
            </div>
            <div>
                @if (Model.ActualEndAt == null && string.IsNullOrEmpty(Model.ActualEndAt.ToString()))
                {
                    <a asp-action="Create" asp-controller="Task" asp-route-id="@Model.Id">
                        <button type="button"
                                class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="left"
                                data-bs-original-title="Create task">
                            <i class="bx bx-plus"></i>
                        </button>
                    </a>
                }
                <a asp-action="Index" asp-controller="Task" asp-route-id="@Model.Id">
                    <button type="button"
                            class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="left"
                            data-bs-original-title="Tasks">
                        <i class="bx bx-task"></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="demo-inline-spacing">
                                </div>
                                <h2 class="fw-bold mt-4 mb-4">
                                    @Model.Title
                                </h2>
                                <span class='badge bg-label-@Model.Status?.Color?.Title me-1'>
                                    @Model.Status?.Title
                                </span>
                            </div>
                            <div class="col-md-5 mt-4">
                                <div class="mb-3 text-center">
                                    <label class="form-label" for="start_date">Users</label>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center flex-wrap justify-content-center">
                                        @if (Model.ProjectUsers != null && Model.ProjectUsers.Count > 0)
                                        {
                                            @foreach (var item in Model.ProjectUsers)
                                            {
                                                <li class="avatar avatar-sm pull-up"
                                                    title="@item.User?.FirstName @item.User?.LastName">
                                                    <a asp-action="Profile" asp-controller="User" asp-route-id="@item.User?.Id" target="_blank">
                                                        <img src="@item.User?.ImageUrl"
                                                             class="rounded-circle"
                                                             alt="@item.User?.FirstName @item.User?.LastName">
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                                <div class="card h-100">
                                    <div class="card-header d-flex align-items-center justify-content-between pt-3 pb-1">
                                        <div class="card-title mb-0">
                                            <h5 class="m-0 me-2">Task statistics</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <div id="taskStatisticsChart"></div>
                                        </div>
                                        <ul class="p-0 m-0">
                                            @if(ViewBag.statuses != null && ViewBag.statuses.Count > 0)
                                            {
                                                @foreach(var item in ViewBag.statuses)
                                                {
                                                    <li class="d-flex mb-4 pb-1">
                                                        <div class="avatar flex-shrink-0 me-3">
                                                            <span class="avatar-initial rounded bg-label-@item.Color?.Title">
                                                                <i class="bx bx-task"></i>
                                                            </span>
                                                        </div>
                                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                            <div class="me-2">
                                                                <h6 class="mb-0">@item.Title</h6>
                                                            </div>
                                                            <div class="user-progress">
                                                                <div class="status-count">
                                                                    <small class="fw-semibold">@item.Tasks.Count</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                                
                                            }
                                        </ul>
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-primary">
                                                    <i class="bx bx-menu"></i>
                                                </span>
                                            </div>
                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h5 class="mb-0">Total</h5>
                                                </div>
                                                <div class="user-progress">
                                                    <div class="status-count">
                                                        <h5 class="mb-0">@totalTask</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-6 mb-4">
                                <!-- "Starts at" card -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title d-flex align-items-start justify-content-between">
                                            <div class="avatar flex-shrink-0">
                                                <i class="menu-icon tf-iconsbx bx bx-calendar-check bx-md text-success"></i>
                                            </div>
                                        </div>
                                        <span class="fw-semibold d-block mb-1">Starts at</span>
                                        <h3 class="card-title mb-2">@Model.StartAt.ToString("yyyy-MM-dd")</h3>
                                    </div>
                                </div>
                                <div class="card mt-4">
                                    <div class="card-body">
                                        <div class="card-title d-flex align-items-start justify-content-between">
                                            <div class="avatar flex-shrink-0">
                                                <i class="menu-icon tf-iconsbx bx bx-time bx-md text-primary"></i>
                                            </div>
                                        </div>
                                        <span class="fw-semibold d-block mb-1">Duration</span>
                                        <h3 class="card-title mb-2">
                                            @duration day
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-6 mb-4">
                                <!-- "Ends at" card -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title d-flex align-items-start justify-content-between">
                                            <div class="avatar flex-shrink-0">
                                                <i class="menu-icon tf-icons bx bx-calendar-x bx-md text-danger"></i>
                                            </div>
                                        </div>
                                        <span class="fw-semibold d-block mb-1">Ends at</span>
                                        <h3 class="card-title mb-2">@Model.EndAt.ToString("yyyy-MM-dd")</h3>
                                    </div>
                                </div>
                                @if(Model.ActualEndAt != null && !string.IsNullOrEmpty(Model.ActualEndAt.ToString()))
                                {
                                    <div class="card mt-4">
                                        <div class="card-body">
                                            <div class="card-title d-flex align-items-start justify-content-between">
                                                <div class="avatar flex-shrink-0">
                                                    <i class="menu-icon tf-icons bx bxs-calendar-x bx-md text-warning"></i>
                                                </div>
                                            </div>
                                            <span class="fw-semibold d-block mb-1">Actual End</span>
                                            <h3 class="card-title mb-2">
                                                @Model.ActualEndAt?.ToString("yyyy-MM-dd")
                                            </h3>
                                        </div>
                                    </div>
                                }
                                
                            </div>
                            <div class="col-md-12 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h5>Description</h5>
                                        </div>
                                        <p>
                                            @Model.Description
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" nav-align-top mt-2">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                                data-bs-target="#navs-top-tasks" aria-controls="navs-top-tasks">
                            <i class="menu-icon tf-icons bx bx-task text-primary"></i>Tasks
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button"
                                class="nav-link " role="tab"
                                data-bs-toggle="tab" data-bs-target="#navs-top-milestones"
                                aria-controls="navs-top-milestones">
                            <i class="menu-icon tf-icons bx bx-list-check text-warning"></i>Milestones
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button"
                                class="nav-link "
                                role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-media"
                                aria-controls="navs-top-media">
                            <i class="menu-icon tf-icons bx bx-image-alt text-success"></i>Media
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                                data-bs-target="#navs-top-activity-log" aria-controls="navs-top-activity-log">
                            <i class="menu-icon tf-icons bx bx-line-chart text-info"></i>Activity Log
                        </button>
                    </li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane fade active show" id="navs-top-tasks" role="tabpanel">
                        <div class="d-flex justify-content-between align-items-center mb-0">
                            <div></div>
                            @if (Model.ActualEndAt == null && string.IsNullOrEmpty(Model.ActualEndAt.ToString()))
                            {
                                <a asp-action="Create" asp-controller="Task" asp-route-id="@Model.Id">
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="tooltip"
                                            data-bs-placement="left"
                                            data-bs-original-title="Create task">
                                        <i class="bx bx-plus"></i>
                                    </button>
                                </a>
                            }
                        </div>
                        <!-- tasks -->
                        <div class="">
                            <div class="table-responsive text-nowrap">
                                <div class="card-body">
                                    <table data-mobile-responsive="true"  id="tableTask" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th data-field="id">ID</th>
                                                <th data-field="title">Task</th>
                                                <th data-field="users">
                                                    Users
                                                </th>
                                                <th data-field="start_date">
                                                    Starts at
                                                </th>
                                                <th data-field="end_date">Ends at</th>
                                                <th data-field="status_id">Status</th>
                                                <th data-formatter="actionFormatter">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                            @if (ViewBag.tasks != null && ViewBag.tasks.Count > 0)
                                            {
                                                @foreach (var item in ViewBag.tasks)
                                                {
                                                    <tr>
                                                        <td>@item.Id</td>
                                                        <td>@item.Title</td>
                                                        <td>
                                                            @foreach(var user in item.TaskUsers)
                                                            {
                                                                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                                                    <li><a asp-action="Profile" asp-controller="User" asp-route-id="@user.Id" target="_blank"></a></li>
                                                                    <li class="avatar avatar-sm pull-up" title="@user.User?.FirstName @user.User?.LastName">
                                                                        <a asp-action="Profile" asp-controller="User" asp-route-id="@user.User?.Id" target="_blank">
                                                                            <img src="@user.User?.ImageUrl" class="rounded-circle">
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            }
                                                        </td>
                                                        <td>@Model.StartAt.ToShortDateString()</td>
                                                        <td>@Model.EndAt.ToShortDateString()</td>
                                                        <td>@item.Status?.Title</td>
                                                        <td>
                                                            @if (Model.ActualEndAt == null && string.IsNullOrEmpty(Model.ActualEndAt.ToString()))
                                                            {
                                                                <a asp-action="Update" asp-controller="Task" asp-route-id="@item.Id" title="Update"><i class="bx bx-edit mx-1"></i></a>
                                                                <button title="Delete" type="button" class="btn delete-item" data-id="@item.Id" data-type="task" data-table="task_table">
                                                                    <i class="bx bx-trash text-danger mx-1"></i>
                                                                </button>
                                                                <a href="javascript:void(0);" class="duplicate" data-id="@item.Id" data-type="tasks" data-table="task_table" title="Duplicate">
                                                                    <i class="bx bx-copy text-warning mx-2"></i>
                                                                </a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <script>
                            var label_update = 'Update ';
                            var label_delete = 'Delete ';
                            var label_duplicate = 'Duplicate ';
                            var label_not_assigned = 'Not assigned ';
                            var add_favorite = 'Click to mark as favorite ';
                            var remove_favorite = 'Click to remove from favorite ';
                            var id = 'project_22';
                        </script>
                        @* <script src="https://taskify-saas.taskhub.company/assets/js/pages/tasks.js"></script> *@
                    </div>

                    <div class=" tab-pane fade" id="navs-top-milestones" role="tabpanel">

                        <div class="col-12">
                            <div class="mb-4">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-0">
                                        <div></div>

                                        <a href="javascript:void(0);" data-bs-toggle="modal"
                                           data-bs-target="#create_milestone_modal">
                                            <button type="button" class="btn btn-sm btn-primary"
                                                    data-bs-toggle="tooltip" data-bs-placement="left"
                                                    data-bs-original-title="Create milestone">
                                                <i class="bx bx-plus"></i>
                                            </button>
                                        </a>
                                    </div>
                                    
                                    <div class="table-responsive">
                                        <table data-mobile-responsive="true" id="tableMilestone" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th data-field="id">ID</th>
                                                    <th data-field="title">TITLE</th>
                                                    <th data-field="start_date">
                                                        START DATE
                                                    </th>
                                                    <th data-field="end_date">END DATE</th>
                                                    <th data-field="progress">PROGRESS</th>
                                                    <th data-field="status">STATUS</th>
                                                    <th data-formatter="actionFormatter">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tableBody">
                                                @if (ViewBag.milestones != null && ViewBag.milestones.Count > 0)
                                                {
                                                    @foreach (var item in ViewBag.milestones)
                                                    {
                                                        <tr>
                                                            <td>@item.Id</td>
                                                            <td>@item.Title</td>
                                                            <td>@Model.StartAt.ToShortDateString()</td>
                                                            <td>@Model.EndAt.ToShortDateString()</td>
                                                            <td>
                                                                <div class="demo-vertical-spacing">
                                                                    <div class="progress">
                                                                        <div class="progress-bar" role="progressbar" style="width: @item.Progress%" aria-valuenow="@item.Progress" aria-valuemin="0" aria-valuemax="100">
                                                                        </div>
                                                                    </div>
                                                                </div> 
                                                                <h6 class="mt-2">@item.Progress%</h6>
                                                            </td>
                                                            <td>@if (!item.Status)
                                                                {
                                                                    <span class="badge bg-danger">Incomplete</span>
                                                                }else{
                                                                    <span class="badge bg-success">Complete</span>
                                                                }
                                                               
                                                            </td>
                                                            <td>
                                                                @if (Model.ActualEndAt == null && string.IsNullOrEmpty(Model.ActualEndAt.ToString()))
                                                                {
                                                                    <a href="javascript:void(0);" class="edit-milestone-btn" data-bs-toggle="modal" data-bs-target="#edit_milestone_modal" data-id="@item.Id" title="Update">
                                                                        <i class="bx bx-edit mx-1"></i>
                                                                    </a>
                                                                    <button title="Delete" type="button" class="btn delete-item"  data-id="@item.Id" data-type="milestone" data-table="project_milestones_table">
                                                                        <i class="bx bx-trash text-danger mx-1"></i>
                                                                    </button>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" tab-pane fade  " id="navs-top-media" role="tabpanel">
                        <div class="col-12">
                            <div class=" mb-4">
                                <div class="card-body">
                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modalId">
                                        <div class=" d-flex justify-content-end">
                                            <button type="button" class="btn btn-primary btn-sm"
                                                    data-bs-toggle="tooltip" data-bs-placement="left"
                                                    data-bs-original-title="Add Media">
                                                <i class="bx bx-plus"></i>
                                            </button>
                                        </div>
                                    </a>
                                    <div class="table-responsive">
@* 
                                        <table id="table" data-toggle="table" data-loading-template="loadingTemplate"
                                               data-url="https://taskify-saas.taskhub.company/master-panel/projects/get-media/22"
                                               data-icons-prefix="bx" data-icons="icons" data-show-refresh="true"
                                               data-total-field="total" data-trim-on-search="false" data-data-field="rows"
                                               data-page-list="[5, 10, 20, 50, 100, 200]" data-search="true"
                                               data-side-pagination="server" data-show-columns="true" data-pagination="true"
                                               data-sort-name="id" data-sort-order="desc" data-mobile-responsive="true"
                                               data-query-params="queryParamsProjectMedia">
                                            <thead>
                                                <tr>
                                                    <th data-checkbox="true"></th>
                                                    <th data-sortable="true" data-field="id">
                                                        ID
                                                    </th>
                                                    <th data-sortable="true" data-field="file">
                                                        File
                                                    </th>
                                                    <th data-sortable="true" data-field="file_name">
                                                        File name
                                                    </th>
                                                    <th data-sortable="true" data-field="file_size">
                                                        File size
                                                    </th>
                                                    <th data-sortable="true" data-field="created_at"
                                                        data-visible="false">
                                                        Created at
                                                    </th>
                                                    <th data-sortable="true" data-field="updated_at"
                                                        data-visible="false">
                                                        Updated at
                                                    </th>
                                                    <th data-sortable="false" data-field="actions">
                                                        Actions
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table> *@

                                        <table data-mobile-responsive="true" id="tableMedia" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th data-field="id">ID</th>
                                                    <th data-field="title">FILE NAME</th>
                                                    <th data-field="file_size">
                                                        FILE SIZE
                                                    </th>
                                                    <th data-field="created_at">CREATED AT</th>
                                                    <th data-field="updated_at">UPDATED AT</th>
                                                    <th data-formatter="actionFormatter">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tableBody">
                                                @if (ViewBag.projectMedias != null && ViewBag.projectMedias.Count > 0)
                                                {
                                                    @foreach (var item in ViewBag.projectMedias)
                                                    {
                                                        <tr>
                                                            <td>@item.Id</td>
                                                            <td>@item.FileName</td>
                                                            <td>@item.FileSize KB</td>
                                                            <td>@item.CreatedDate.ToShortDateString()</td>
                                                            <td>@item.UpdatedDate?.ToShortDateString()</td>
                                                            <td>
                                                                <a href="#" title="Download" target="_blank" onclick="downloadFile('@item.MediaUrl', '@GetFileNameFromUrl(item.MediaUrl)');" download="@GetFileNameFromUrl(@item.MediaUrl)">
                                                                    <i class="bx bx-download bx-sm"></i>
                                                                </a>
                                                                @if (Model.ActualEndAt == null && string.IsNullOrEmpty(Model.ActualEndAt.ToString()))
                                                                {
                                                                    <button title="Delete" type="button" class="btn delete" data-id="@item.Id" data-type="projectMedia">
                                                                        <i class="bx bx-trash text-danger"></i>
                                                                    </button>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" tab-pane fade  " id="navs-top-activity-log" role="tabpanel">
                        <div class="col-12">
                            <div class="row mt-4 ">
                                <div class="mb-3 col-md-4">
                                    <div class="input-group input-group-merge">
                                        <input type="text" id="activity_log_between_date" class="form-control"
                                               placeholder="Date between"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-select" id="user_filter"
                                            aria-label="Default select example">
                                        <option value="">
                                            Select user
                                        </option>
                                        <option value="2">
                                            super admin
                                        </option>
                                        <option value="7">
                                            Team Member 1
                                        </option>
                                        <option value="14">
                                            King Lost
                                        </option>
                                        <option value="15">
                                            jimy karter
                                        </option>
                                        <option value="34">
                                            Akash Dhaman
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-select" id="client_filter"
                                            aria-label="Default select example">
                                        <option value="">
                                            Select client
                                        </option>
                                        <option value="2">
                                            same parker
                                        </option>
                                        <option value="3">
                                            Thomas bond
                                        </option>
                                        <option value="4">
                                            shie Waine
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-select" id="activity_filter"
                                            aria-label="Default select example">
                                        <option value="">
                                            Select activity
                                        </option>
                                        <option value="created">
                                            Created
                                        </option>
                                        <option value="updated">
                                            Updated
                                        </option>
                                        <option value="duplicated">
                                            Duplicated
                                        </option>
                                        <option value="deleted">
                                            Deleted
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" id="activity_log_between_date_from">
                            <input type="hidden" id="activity_log_between_date_to">
                            <input type="hidden" id="data_type" value="activity-log">
                            <input type="hidden" id="data_table" value="activity_log_table">
                            <input type="hidden" id="type_id" value="22">
                           @*  <table id="activity_log_table" data-toggle="table"
                                   data-loading-template="loadingTemplate" data-url="https://taskify-saas.taskhub.company/master-panel/activity-log/list"
                                   data-icons-prefix="bx" data-icons="icons" data-show-refresh="true"
                                   data-total-field="total" data-trim-on-search="false" data-data-field="rows"
                                   data-page-list="[5, 10, 20, 50, 100, 200]" data-search="true"
                                   data-side-pagination="server" data-show-columns="true" data-pagination="true"
                                   data-sort-name="id" data-sort-order="desc" data-mobile-responsive="true"
                                   data-query-params="queryParams">
                                <thead>
                                    <tr>
                                        <th data-checkbox="true"></th>
                                        <th data-sortable="true" data-field="id">
                                            ID
                                        </th>
                                        <th data-sortable="true" data-visible="false" data-field="actor_id">
                                            Actor ID
                                        </th>
                                        <th data-sortable="true" data-field="actor_name">
                                            Actor name
                                        </th>
                                        <th data-sortable="true" data-visible="false" data-field="actor_type">
                                            Actor type
                                        </th>
                                        <th data-sortable="true" data-visible="false" data-field="type_id">
                                            Type ID
                                        </th>
                                        <th data-sortable="true" data-visible="false" data-field="parent_type_id">
                                            Parent type ID
                                        </th>
                                        <th data-sortable="true" data-field="activity">
                                            Activity
                                        </th>
                                        <th data-sortable="true" data-field="type">
                                            Type
                                        </th>
                                        <th data-sortable="true" data-field="parent_type" data-visible="false">
                                            Parent type
                                        </th>
                                        <th data-sortable="true" data-field="type_title">
                                            Type title
                                        </th>
                                        <th data-sortable="true" data-field="parent_type_title" data-visible="false">
                                            Parent type title
                                        </th>
                                        <th data-sortable="true" data-visible="false" data-field="message">
                                            Message
                                        </th>
                                        <th data-sortable="true" data-field="created_at" data-visible="false">
                                            Created at
                                        </th>
                                        <th data-sortable="true" data-field="updated_at" data-visible="false">
                                            Updated at
                                        </th>
                                        <th data-formatter="actionsFormatter">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                            </table> *@



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var baseUrl = '@baseUrl';

    function downloadFile(url, fileName) {
        var link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', fileName);

        link.onclick = function (e) {
            e.preventDefault(); // Prevent the default action
            link.click(); // Trigger the download
        };

        document.body.appendChild(link);
        link.style.display = 'none'; // Optional: hide the link
    }

    $(document).ready(function () {
        // Initialize DataTables
        $('#tableTask').DataTable();
        $('#tableMilestone').DataTable();
        $('#tableMedia').DataTable();
        $('#tableLog').DataTable();

        // Create milestone form submission
        $('#create_milestone_modal form').submit(function (event) {
            event.preventDefault();
            const formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: `${baseUrl}/Milestone/Create`,
                data: formData,
                success: function (response) {
                    if (response.success) {
                        $('#create_milestone_modal').modal('hide');
                        // Optionally, update the UI with the new milestone
                        toastr.success(response.message);
                        window.location.reload();
                    } else {
                        toastr.error(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    toastr.error('Failed to create milestone: ' + error);
                }
            });
        });

        // Update milestone form submission
        $('#edit_milestone_modal form').submit(function (event) {
            event.preventDefault();
            const formData = $(this).serialize();
            console.log(formData)
            $.ajax({
                type: 'POST',
                url: `${baseUrl}/Milestone/Update`,
                data: formData,
                success: function (response) {
                    if (response.success) {
                        $('#edit_milestone_modal').modal('hide');
                        // Optionally, update the UI with the updated milestone
                        toastr.success(response.message);
                        window.location.reload();
                    } else {
                        toastr.error(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    toastr.error('Failed to update milestone: ' + error);
                }
            });
        });

        // Function to populate milestone modal
        function populateMilestoneModal(milestone) {
            $('#milestone_id').val(milestone.id);
            $('#milestone_title').val(milestone.title);
            $('#update_milestone_start_date').val(moment(milestone.startAt).format('MM/DD/YYYY'));
            $('#update_milestone_end_date').val(moment(milestone.endAt).format('MM/DD/YYYY'));
            $('#milestone_status').val(milestone.status.toString());
            $('#milestone_progress').val(milestone.progress);
            $('.milestone-progress').text(milestone.progress + '%');
            $('#milestone_description').val(milestone.description);
            $('#userId').val(milestone.userId);
            $('#created_date').val(milestone.createdDate);
        }

        // Event listener for edit milestone button click
        $('.edit-milestone-btn').click(function () {
            var id = $(this).data('id');
            $.ajax({
                url: `${baseUrl}/Milestone/GetMilestone/${id}`,
                type: 'GET',
                success: function (response) {
                    console.log(response)
                    if (response && response.milestone) {
                        populateMilestoneModal(response.milestone);
                        $('#edit_milestone_modal').modal('show');
                    } else {
                        console.error('Failed to fetch milestone data');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Failed to fetch milestone:', error);
                }
            });
        });
    });

    $(document).ready(function () {
        // Function to update progress display and color
        $('#milestone_progress').on('input', function () {
            var progressValue = $(this).val();
            $('.milestone-progress').text(progressValue + '%');

            // Adjust background color based on progress
            var color = getColorForPercentage(progressValue);
            $(this).css('background', '-webkit-linear-gradient(left, ' + color + ' ' + progressValue + '%, #ffffff ' + progressValue + '%)');
        });

        // Helper function to determine color based on progress percentage
        function getColorForPercentage(percentage) {
            var hue = ((1 - percentage / 100) * 120).toString(10);
            return ["hsl(", hue, ",100%,50%)"].join("");
        }
    });


    $(document).ready(function () {
        $(document).on('click', '.delete-item', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var type = $(this).data('type');
            var reload = $(this).data('reload');
            var tableID = $(this).data('table') || 'table';

            // Show delete confirmation modal
            $('#deleteModal').modal('show');

            // Handle click on confirm delete button in modal
            $('#confirmDeleteBtn').off('click').on('click', function () {
                // Disable button and show loading state
                $(this).html('Deleting...').attr('disabled', true);

                // Construct URL and AJAX request dynamically
                var urlPrefix = window.location.pathname.split('/')[1];
                var url = `/${type}/Delete/${id}`;

                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function (response) {
                        $('#deleteModal').modal('hide');
                        if (response.error === false) {
                            toastr.success(response.message);
                            setTimeout(function () {
                                window.location.reload();
                            }, 2000); // Optional delay before reload
                        } else {
                            toastr.error(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#deleteModal').modal('hide');
                        toastr.error('Failed to delete item: ' + error);
                    },
                    complete: function () {
                        $('#confirmDeleteBtn').html('Delete').attr('disabled', false);
                    }
                });
            });
        });
    });

</script>


<div class="modal fade" id="create_milestone_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <form class="modal-content form-submit-event" asp-action="Create" asp-controller="Milestone"
              method="POST">
            <input type="hidden" name="projectId" value="@Model.Id">
            <input type="hidden" name="userId" value="@userId">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">
                    Create milestone
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="nameBasic" class="form-label">
                                Title <span class="asterisk">*</span>
                            </label>
                            <input type="text" name="title" class="form-control"
                                   placeholder="Please enter title">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="nameBasic"
                                   class="form-label">Starts at                                            <span class="asterisk">*</span></label>
                            <input type="text" id="start_date" name="startAt" class="form-control"
                                   placeholder="" autocomplete="off">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="nameBasic" class="form-label">Ends at                                            <span class="asterisk">*</span></label>
                            <input type="text" id="end_date" name="endAt" class="form-control"
                                   placeholder="" autocomplete="off">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="nameBasic" class="form-label">Status                                            <span class="asterisk">*</span></label>
                            <select class="form-select" name="status">
                                <option value="false">Incomplete                                            </option>
                                <option value="true">Complete</option>
                            </select>
                        </div>
                    </div>
                    <label for="description"
                           class="form-label">Description</label>
                    <textarea class="form-control" name="description"
                              placeholder="Please enter description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" id="submit_btn"
                        class="btn btn-primary">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="edit_milestone_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <form class="modal-content form-submit-event" asp-action="Update" asp-controller="Milestone"
              method="POST">
            <input type="hidden" name="id" id="milestone_id">
            <input type="hidden" name="projectId" value="@Model.Id">
            <input type="hidden" name="userId" id="userId">
            <input type="hidden" name="createdDate" id="created_date">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">
                    Update milestone
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="nameBasic" class="form-label">
                                Title <span class="asterisk">*</span>
                            </label>
                            <input type="text" name="title" id="milestone_title" class="form-control"
                                   placeholder="Please enter title">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="nameBasic"
                                   class="form-label">Starts at                                            <span class="asterisk">*</span></label>
                            <input type="text" id="update_milestone_start_date" name="startAt"
                                   class="form-control" placeholder="" autocomplete="off">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="nameBasic" class="form-label">Ends at                                            <span class="asterisk">*</span></label>
                            <input type="text" id="update_milestone_end_date" name="endAt"
                                   class="form-control" placeholder="" autocomplete="off">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="nameBasic" class="form-label">Status                                            <span class="asterisk">*</span></label>
                            <select class="form-select" id="milestone_status" name="status">
                                <option value="false">Incomplete                                            </option>
                                <option value="true">Complete</option>
                            </select>
                        </div>
                       
                        <div class="col-12 mb-3">
                            <label for="nameBasic"
                                   class="form-label">Progress</label>
                            <input type="range" name="progress" id="milestone_progress"
                                   class="form-range">
                            <h6 class="mt-2 milestone-progress"></h6>
                            <p class="text-danger text-xs mt-1 error-message"></p>
                        </div>
                    </div>
                    <label for="description"
                           class="form-label">Description</label>
                    <textarea class="form-control" name="description" id="milestone_description"
                              placeholder="Please enter description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" id="submit_btn"
                        class="btn btn-primary">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalId" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="modal-content form-horizontal" id="media-upload"
              asp-action="Upload" asp-controller="ProjectMedia" method="POST" enctype="multipart.form-data">
              <input type="hidden" name="projectId" value="@Model.Id">
                <input type="hidden" name="userId" value="@userId">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Add Media</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="mb-5">Project media</h4>
                <form class="form-horizontal" id="media-upload" asp-action="Upload" asp-controller="ProjectMedia"
                      method="POST" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="dropzone dz-clickable" id="media-upload-dropzone">
                        </div>
                        <div class="form-group mt-4 text-center">
                            <button class="btn btn-primary"
                                    id="upload_media_btn">
                                Upload
                            </button>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="form-group" id="error_box">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </form>
    </div>
</div>