@model List<taskify_font_end.Models.DTO.ProjectDTO>
@{
    bool modelIsNull = Model == null;

    string status = ViewBag.Status != null ? $"status={ViewBag.Status}" : null;
    string sort = ViewBag.Sort != null ? $"sort={ViewBag.Sort}" : null;
    List<int> tagIds = ViewBag.TagIds != null ? ((int[])ViewBag.TagIds).ToList() : new List<int>();
    List<string> queryParameters = new List<string>();
    int startResult = (ViewBag.page - 1) * ViewBag.perPage + 1;
    int endResult = ViewBag.page * ViewBag.perPage;
    if (endResult > ViewBag.total) endResult = ViewBag.total;
    string selected = "selected";

    if (!string.IsNullOrEmpty(status))
    {
        queryParameters.Add(status);
    }

    if (!string.IsNullOrEmpty(sort))
    {
        queryParameters.Add(sort);
    }

    foreach (var tagId in tagIds)
    {
        queryParameters.Add($"tagIds={tagId}");
    }
    string queryString = string.Join("&", queryParameters);
    string url = Url.Action("Index", "Project") + (queryParameters.Count > 0 ? "?" + queryString : "");
    bool queryIsEmpty = string.IsNullOrEmpty(queryString);
    string nextUrl = string.Empty;
    string previousUrl = string.Empty;
    if (!queryIsEmpty)
    {
        nextUrl = url + $"&{ViewBag.page + 1}";
        previousUrl = url + $"&{ViewBag.page - 1}";
    }
    else
    {
        nextUrl = url + $"?{ViewBag.page + 1}";
        previousUrl = url + $"?{ViewBag.page - 1}";
    }

     
}
@if(Model != null && Model.Count > 0)
{
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="d-flex justify-content-between mt-4">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-style1">
                            <li class="breadcrumb-item">
                                <a asp-action="Dashboard" asp-controller="Home">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Projects</li>
                        </ol>
                    </nav>
                </div>

                <div>
                    <a asp-action="Create" asp-controller="Project">
                        <button type="button" class="btn btn-sm btn-primary"
                                data-bs-toggle="tooltip" data-bs-placement="left"
                                data-bs-original-title="Create project">
                            <i class='bx bx-plus'></i>
                        </button>
                    </a>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <select class="form-select" id="status_filter" aria-label="Default select example">
                        <option value="">Filter by status</option>
                        @if(ViewBag.statuses != null && ViewBag.statuses.Count > 0)
                        {
                            @foreach (var item in ViewBag.statuses)
                            {
                                <option value="@item.Id" selected="@(ViewBag.Status != null && item.Id == ViewBag.Status)">@item.Title.ToUpper()</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-select" id="sort" aria-label="Default select example">
                        <option value="">Sort by</option>
                        <option selected="@(ViewBag.sort != null && ViewBag.sort.Equals("newest"))" value="newest">
                            Newest
                        </option>
                        <option selected="@(ViewBag.sort != null && ViewBag.sort.Equals("oldest"))" value="oldest">
                            Oldest
                        </option>
                        <option selected="@(ViewBag.sort != null && ViewBag.sort.Equals("recently-updated"))" value="recently-updated">
                            Most recently updated
                        </option>
                        <option selected="@(ViewBag.sort != null && ViewBag.sort.Equals("earliest-updated"))" value="earliest-updated">
                            Least recently updated
                        </option>
                    </select>
                </div>
                <div class="col-md-5">
                    <select id="selected_tags" class="form-control js-example-basic-multiple" name="tagIds" multiple="multiple"
                            data-placeholder="Filter by tags">
                        @if(ViewBag.tags != null && ViewBag.tags.Count > 0)
                        {
                            @foreach (var item in ViewBag.tags)
                            {
                                bool isSelected = tagIds != null && tagIds.Contains(item.Id);
                                <option value="@item.Id" selected="@(isSelected)">
                                    @item.Title.ToUpper()
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-1">
                    <div>
                        <button type="button" id="tags_filter"
                                class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="left"
                                data-bs-original-title="Filter">
                            <i class='bx bx-filter-alt'></i>
                        </button>
                    </div>
                </div>
            </div>
            
                <div class="mt-4 d-flex row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex flex-wrap gap-2 mb-3">
                                    @if (item.ProjectTags != null && item.ProjectTags.Count > 0)
                                    {
                                        @foreach (var tag in item.ProjectTags)
                                        {
                                            <span class="badge bg-@(tag.Tag?.Color?.Title)">@tag.Tag?.Title</span>
                                        }
                                    }
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h4 class="card-title">
                                        <a asp-action="Detail" asp-controller="Project" asp-route-id="@item.Id"
                                           target="_blank"><strong>@item.Title</strong></a>
                                    </h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="input-group">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class='bx bx-cog' id="settings-icon"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                @if (item.ActualEndAt == null && string.IsNullOrEmpty(item.ActualEndAt.ToString()))
                                                {
                                                    <li class="dropdown-item">
                                                        <a asp-action="Update" asp-controller="Project" asp-route-id="@item.Id"
                                                           class="card-link">
                                                            <i class='menu-icon tf-icons bx bx-edit'></i>Update
                                                        </a>
                                                    </li>
                                                    <li class="dropdown-item">
                                                        <a href="javascript:void(0);" class="finish" id="finishButton" data-reload="true"
                                                           data-type="projects" data-id="@item.Id">
                                                            <i class='menu-icon tf-icons bx bx-check-square text-danger'></i>Finish
                                                        </a>
                                                    </li>
                                                }
                                                
                                                <li class="dropdown-item">
                                                    <a href="javascript:void(0);" class="delete" data-reload="true"
                                                       data-type="projects" data-id="@item.Id">
                                                        <i class='menu-icon tf-icons bx bx-trash text-danger'></i>Delete
                                                    </a>
                                                    
                                                </li>
                                                
                                                <li class="dropdown-item">
                                                    <a href="javascript:void(0);" class="duplicate" data-type="projects"
                                                       data-id="@item.Id" data-reload="true">
                                                        <i class='menu-icon tf-icons bx bx-copy text-warning'></i>Duplicate
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-4 d-flex justify-content-between">
                                    <span class='badge bg-label-@(item.Status?.Color?.Title) me-1'>
                                        @item.Status?.Title.ToUpper()
                                    </span>
                                </div>
                                <div class="my-4 d-flex justify-content-between">
                                    <span>
                                        <i class='bx bx-task text-primary'></i>
                                        <b>0</b>
                                        Tasks
                                    </span>
                                    <a asp-action="Index" asp-controller="Task" asp-route-id="@item.Id">
                                        <button type="button"
                                                class="btn btn-sm rounded-pill btn-outline-primary">
                                            Tasks
                                        </button>
                                    </a>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <p class="card-text">
                                            Users:
                                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                                @if (item.ProjectUsers != null && item.ProjectUsers.Count > 0)
                                                {
                                                    @foreach (var user in item.ProjectUsers)
                                                    {
                                                        <li class="avatar avatar-sm pull-up"
                                                            title="@user.User?.FirstName @user.User?.LastName">
                                                            <a asp-action="Profile" asp-controller="User" asp-route-id="@user.UserId"
                                                               target="_blank">
                                                                <img src="~/image/ozihsjap4lp4imbepbkvxv48amqt4ibwsdzxlhvq.png" onerror="~/image/oZIhSJaP4lp4imBepBkvXv48amqt4ibWsDZxlhvq.png"
                                                                     class="rounded-circle"
                                                                     alt="@user.User?.FirstName @user.User?.LastName">
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <i class='bx bx-calendar text-success'></i>Starts at : @item.StartAt.ToShortDateString()
                                    </div>

                                    <div class="col-md-6">
                                        <i class='bx bx-calendar text-danger'></i>Ends at : <span>@item.EndAt.ToShortDateString()</span> <br />
                                        @if(item.ActualEndAt != null && !string.IsNullOrEmpty(item.ActualEndAt.ToString()))
                                        {
                                            <span class="text-danger">Estimated completion date: @item.ActualEndAt?.ToShortDateString()</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                    <div>
                        <nav class="d-flex justify-items-center justify-content-between">
                            <div class="d-flex justify-content-between flex-fill d-sm-none">
                                <ul class="pagination">

                                    <li class="page-item disabled" aria-disabled="true">
                                        <span class="page-link">&laquo; Previous</span>
                                    </li>


                                    <li class="page-item">
                                        <a class="page-link" href="" rel="next">Next &raquo;</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="d-none flex-sm-fill d-sm-flex align-items-sm-center justify-content-sm-between">
                            @if (ViewBag.page != null && ViewBag.perPage != null && ViewBag.total != null && ViewBag.totalPage != null)
                                {
                                    <div>
                                        <p class="small text-muted">
                                            Showing
                                        <span class="fw-semibold">@startResult</span>
                                            to
                                            <span class="fw-semibold">@endResult</span>
                                            of
                                            <span class="fw-semibold">@ViewBag.total</span>
                                            results
                                        </p>
                                    </div>


                                    <div>
                                        <ul class="pagination">
                                        @if(ViewBag.page == 1)
                                        {
                                            <li class="page-item "disabled" aria-disabled="true" aria-label="&laquo; Previous">
                                                <span class="page-link" aria-hidden="true">&lsaquo;</span>
                                            </li>
                                            
                                        }else{
                                            <li class="page-item">
                                                <a class="page-link" href="@previousUrl" rel="prev" aria-label="« Previous">‹</a>
                                            </li>
                                        }
                                        @for (int i = 1; i <= ViewBag.totalPage; i++)
                                        {
                                            bool isActive = (ViewBag.page == i);
                                            <li class="page-item @(isActive ? "active" : "")" @(isActive ? "aria-current=\"page\"" : "")>
                                                @if (isActive)
                                                {
                                                    <span class="page-link">@i</span>
                                                }
                                                else
                                                {
                                                    <a class="page-link" href="@(queryIsEmpty ?  $"{url}?page={i}" : $"{url}&page={i}")">@i</a>
                                                }
                                            </li>
                                        }
                                        @if(ViewBag.page == ViewBag.totalPage)
                                        {
                                            if(ViewBag.totalPage != 1)
                                            {
                                                <li class="page-item active" aria-current="page"><span class="page-link">@ViewBag.totalPage</span></li>
                                            }
                                        }else{
                                            <li class="page-item">
                                                <a class="page-link" href="@nextUrl" rel="next" aria-label="Next &raquo;">&rsaquo;</a>
                                            </li>
                                        }
                                        
                                        </ul>
                                    </div>
                                }

                            </div>
                        </nav>

                    </div>
                </div>
        </div>
    </div>
}
else
{

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card text-center mt-4">
                <div class="card-body">
                    <div class="misc-wrapper">
                        <h2 class="mb-2 mx-2">You don't have any project!</h2>
                        <p class="mb-4 mx-2">
                            Do you want to create a new project?
                        </p>
                        <a asp-action="Create" asp-controller="Project" class="btn btn-primary">Create</a>
                        <div class="mt-3">
                            <img src="~/image/man-with-laptop-light.png" alt="page-misc-error-light"
                                 width="500" class="img-fluid" data-app-dark-img="illustrations/page-misc-error-dark.png"
                                 data-app-light-img="illustrations/page-misc-error-light.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="confirmationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to finish?</p>
            </div>
            <div class="modal-footer">
                <button id="confirmYes" type="button" class="btn btn-primary">Yes</button>
                <button id="closeModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/project-grid.js?v=2"></script>
<script>
    $(document).ready(function () {
        $('#finishButton').click(function (e) {
            e.preventDefault(); 
            var projectId = $(this).data('id');
            $('#confirmYes').data('id', projectId); // Store projectId in the modal button
            $('#confirmationModal').modal('show'); // Show the modal
        });

        $('#confirmYes').click(function () {
            var projectId = $(this).data('id');
            var finishUrl = '@Url.Action("Finish", "Project", new { id = "__id__" })'.replace("__id__", projectId);
            window.location.href = finishUrl; // Redirect to the URL
        });

        $('#closeModal, #closeModalBtn').click(function () {
            $('#confirmationModal').modal('hide'); // Hide the modal
        });
    });
</script>