@model taskify_font_end.Models.VM.AuthVM
@{
    Layout = "";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>
        Login
        - Taskify SaaS
    </title>


    <meta name="description" content="" />

    <!-- Favicon -->
    <link href="~/css/vendor/fonts/boxicons.css" rel="stylesheet" />
    <link href="~/css/lightbox/lightbox.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon"
    href="~/image/e9fpoewysvxc1lwnfobulqeohy8jn6glk9pqfqnq.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="~/js/kit.fontawesome.js"></script>
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/loopple.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <script src="~/js/libs/jquery/jquery.js"></script>

</head>

<body class="">
    <partial name="_Notification" />
    <nav class="navbar navbar-expand-lg navbar-light bg-primary py-3 fixed-top">
        <div class="container">
            <div class="img-box">
                <a class="navbar-brand" href="/">
                    <img src="~/image/wkxkoc9sktp18zkesk6l7elhi6zjhubntr7u7ik3.png"
                         class="img-box">
                </a>
            </div>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </span>
            </button>

            <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-4 ps-lg-5" id="navigation">
                <ul class="justify-content-end navbar-nav navbar-nav-hover w-100">
                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center "
                           href="#">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center "
                           href="#">About Us</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center "
                           href="#">Pricing Plans</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center "
                           href="#">Features</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center "
                           href="#">Contact Us</a>
                    </li>


                </ul>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                    <a asp-controller="Auth" asp-action="Login"
                       class="btn btn-sm btn-round mb-0 me-1 mt-2 mt-md-0 bg-gradient-primary">Login</a>
                </div>


            </div>
        </div>
    </nav>
    <header>
    </header>
    <main class="mt-4 ">

        <section class="section-py mt-7 py-2  ">
            <div class="container">
                <h1 class="text-center display-5 fw-semi-bold mt-5">
                    Login or Register
                </h1>
                <p class="text-center fs-0 fs-md-1">
                    Access your account or create a new one to start managing your projects.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="img-container">
                            <dotlottie-player src="https://lottie.host/62ec8846-505c-433b-b81a-ed599db5d06b/Obu1fFGLL6.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
                        </div>
                    </div>
                    <div class="col-md-6 mt-8">
                        <ul class="nav nav-pills nav-justified mb-4" id="auth-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab"
                                   aria-controls="login" aria-selected="true">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="register-tab" data-bs-toggle="tab" href="#register" role="tab"
                                   aria-controls="register" aria-selected="false">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="auth-tab-content">
                            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                                <div class="card shadow showcase-page-gradient">
                                    <div class="card-body">
                                        <form id="formAuthentication" class="mb-3 form-submit-event"
                                              asp-action="Login" asp-controller="Auth" method="POST">
                                            <input type="hidden" name="redirect_url" value="#">
                                            <div class="mb-3">
                                                <label for="email" class="form-label">
                                                    E-mail <span class="asterisk">*</span>
                                                </label>
                                                <input type="text" class="form-control" id="email" asp-for="LoginRequest.UserName"
                                                       placeholder="Enter your email"
                                                       value=""
                                                       autofocus />
                                                @Html.ValidationMessageFor(model => model.LoginRequest.UserName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="mb-3 form-password-toggle">
                                                <div class="d-flex justify-content-between">
                                                    <label class="form-label"
                                                           for="password">
                                                        Password
                                                        <span class="asterisk">*</span>
                                                    </label>
                                                    <a asp-action="ForgotPassword">
                                                        <small class="text-dark">Forgot Password?</small>
                                                    </a>
                                                </div>
                                                <div class="input-group">
                                                    <input type="password" id="password" class="form-control" asp-for="LoginRequest.Password"
                                                           placeholder="Please enter your password"
                                                           value=""
                                                           aria-describedby="password" />
                                                    <span class="m-2 text-end text-sm" id="eyeicon">
                                                        <i class="far fa-eye-slash"></i>
                                                    </span>
                                                    @Html.ValidationMessageFor(model => model.LoginRequest.Password, "", new { @class = "text-danger" })
                                                </div>

                                                <p class="text-danger text-xs mt-1 error-message"></p>



                                            </div>

                                            <div class="mb-4">
                                                <button class="btn bg-gradient-primary d-grid w-100" type="submit"
                                                        id="loginBtn">
                                                    Login
                                                </button>
                                            </div>

                                            <div class="mb-4">
                                                <a asp-action="loginGoogle" asp-controller="Auth" class="btn bg-gradient-light d-grid w-100" 
                                                        id="loginGoogleBtn">
                                                    <i class='bx bxl-google'></i>Login with Gooogle
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <div class=" card">
                                    <div class="card-body">
                                        <form id="formRegister" asp-action="Register" method="POST">
                                            <div class="row mt-3">
                                                <div class="col-lg-6 mb-3">
                                                    <label for="first_name"
                                                           class="form-label">First name:</label>
                                                    <input type="text" class="form-control" id="first_name"
                                                           asp-for="RegisterationRequest.FirstName"
                                                           placeholder="First name"
                                                           value="" required>
                                                    @Html.ValidationMessageFor(model => model.RegisterationRequest.FirstName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-6 mb-3">
                                                    <label for="last_name"
                                                           class="form-label">Last name:</label>
                                                    <input type="text" class="form-control" id="last_name"
                                                           asp-for="RegisterationRequest.LastName" placeholder="Last name" value="" required>
                                                    @Html.ValidationMessageFor(model => model.RegisterationRequest.LastName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-lg-6 mb-3">
                                                    <label for="email"
                                                           class="form-label">E-mail:</label>
                                                    <input type="email" class="form-control" id="email" asp-for="RegisterationRequest.UserName"
                                                           value=""
                                                           placeholder="Enter your email" required>
                                                    @Html.ValidationMessageFor(model => model.RegisterationRequest.UserName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-6 mb-3">
                                                    <label for="phone"
                                                           class="form-label">Phone number:</label>
                                                    <input type="text" class="form-control" id="phone_number"
                                                           asp-for="RegisterationRequest.PhoneNumber"
                                                           placeholder="Please Enter YourPhone Number"
                                                           value="" required>
                                                    @Html.ValidationMessageFor(model => model.RegisterationRequest.PhoneNumber, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-lg-6 mb-3">
                                                    <label for="password"
                                                           class="form-label">Password:</label>
                                                    <input type="password" class="form-control" id="password"
                                                           asp-for="RegisterationRequest.Password"
                                                           placeholder="Please enter your password"
                                                           required>
                                                    @Html.ValidationMessageFor(model => model.RegisterationRequest.Password, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-6 mb-3">
                                                    <label for="password_confirmation"
                                                           class="form-label">Confirm password:</label>
                                                    <input type="password" class="form-control" id="password_confirmation"
                                                           placeholder="Confirm password"
                                                           asp-for="RegisterationRequest.ConfirmPassword" required>
                                                    @Html.ValidationMessageFor(model => model.RegisterationRequest.ConfirmPassword, "", new { @class = "text-danger" })
                                                </div>
                                                <button type="submit" id="registerCustomer"
                                                        class="btn btn-primary">
                                                    Register
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <footer class="footer py-2 bg-gradient-dark position-relative overflow-hidden fixed-bottom">
            <img src="/assets/front-end/img/gallery/pattern-lines.svg" alt="pattern-lines"
                 class="position-absolute  w-100 opacity-2 img-container">
            <div class="container position-relative mt-5">
                <div class="row ">
                    <div class="col-md-6 mb-5 mb-lg-0">
                        <div class="img-box">
                            <img src="~/image/9qus34ywblfhxwbotlx0xhtu264puvxemsxpd8ak.png">

                        </div>
                        <p class="mb-1 pb-1 text-white">
                            <ul class="list-unstyled text-light mb-md-4">
                                <li class="lh-lg"><p>#237, Time Square Empire, Bhuj Kutch - India</p></li>

                                <li class="lh-lg">
                                    <a href=mailto ="info@infinitietech.com" class="text-light">
                                        <i class="far fa-envelope"></i>
                                        info@infinitietech.com
                                    </a>
                                </li>
                            </ul>
                        </p>

                    </div>

                    <div class="col-md-6 ms-lg-0 mb-md-0 mb-4">

                        <div class="d-flex justify-content-center row">
                            <h5 class="lh-lg fw-bold text-light text-center">Quick Links</h5>
                            <div class="col-4">
                                <ul class="list-unstyled mb-md-2 mx-3">

                                    <li class="lh-lg">
                                        <a href="#"
                                           class="d-inline-flex align-items-center text-light ">
                                            <i class="fas fa-arrow-right me-2"></i>Home
                                        </a>
                                    </li>
                                    <li class="lh-lg">
                                        <a href="#"
                                           class="d-inline-flex align-items-center text-light ">
                                            <i class="fas fa-arrow-right me-2"></i>Contact Us
                                        </a>
                                    </li>
                                    <li class="lh-lg">
                                        <a href="#"
                                           class="d-inline-flex align-items-center text-light ">
                                            <i class="fas fa-arrow-right me-2"></i>About Us
                                        </a>
                                    </li>
                                    <li class="lh-lg">
                                        <a href="#"
                                           class="d-inline-flex align-items-center text-light ">
                                            <i class="fas fa-arrow-right me-2"></i>Refund Policy
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-5">


                                <ul class="list-unstyled mb-md-2 mx-3">
                                    <li class="lh-lg">
                                        <a href="#"
                                           class="d-inline-flex align-items-center text-light ">
                                            <i class="fas fa-arrow-right me-2"></i>Features
                                        </a>
                                    </li>
                                    <li class="lh-lg">
                                        <a href="#"
                                           class="d-inline-flex align-items-center text-light ">
                                            <i class="fas fa-arrow-right me-2"></i>Pricing Plans
                                        </a>
                                    </li>

                                    <li class="lh-lg">
                                        <a href="#"
                                           class="d-inline-flex align-items-center text-light ">
                                            <i class="fas fa-arrow-right me-2"></i>Privacy Policy
                                        </a>
                                    </li>
                                    <li class="lh-lg">
                                        <a href="#"
                                           class="d-inline-flex align-items-center text-light ">
                                            <i class="fas fa-arrow-right me-2"></i>Terms and Conditons
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <hr class="horizontal light mb-4 mt-lg-4">
                <div class="row d-flex justify-content-center row text-capitalize text-center text-white">
                    <div class="col-md-auto">
                        <p class="">&copy; 2024 Taskify SaaS</p>
                    </div>
                    <div class="col-md-auto text-white">

                        <p>Made with ❤️ by <a href="https://codecanyon.net/user/infinitietech" target="_blank" rel="noopener">Infinitie Technologies</a></p>

                    </div>
                </div>


            </div>
        </footer>
    </footer>


    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/soft-design-system.js"></script>
    <script src="~/js/plugins/countup.min.js"></script>
    <script src="~/js/plugins/flatpickr.min.js"></script>
    <script src="~/js/plugins/typedjs.js"></script>
    @* <script src="~/js/font-end/custom.js"></script> *@
    <script src="~/js/tinymce-jquery.min.js"></script>
    <script src="~/js/tinymce.min.js"></script>
    <!-- Date picker -->
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <script src="~/js/lightbox.min.js"></script>

    <script src="~/js/dropzone.min.js"></script>
    @* <script src="~/js/custom.js"></script> *@
    <script src="~/js/loople/loopple.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/lottie.js"></script>
    <script src="https://unpkg.com/@@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>


</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
