@model taskify_font_end.Models.DTO.TaskDTO
@{
    var userId = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
}
<div class="content-wrapper">

    <div class="container-fluid">

        <div class="mt-4">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1">
                        <li class="breadcrumb-item">
                            <a asp-action="Dashboard" asp-controller="Home">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="Task">Tasks</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Create
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form asp-action="Create" asp-controller="Task" class="form-submit-event" method="POST">
                    <input type="hidden" asp-for="OwnerId" value="@userId" />
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="title" class="form-label">
                                Title <span class="asterisk">*</span>
                            </label>
                            <input class="form-control" type="text" id="title" asp-for="Title"
                                   placeholder="Enter Title" >
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="status">
                                Status <span class="asterisk">*</span>
                            </label>
                            <div class="input-group">

                                <select class="form-select" id="status_id" asp-for="StatusId">
                                    @if (ViewBag.statuses != null && ViewBag.statuses.Count > 0)
                                    {
                                        @foreach(var item in ViewBag.statuses)
                                        {
                                            <option value="@item.Id" class="badge bg-label-@item.Color?.Title">
                                                @item.Title (@item.Description)
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mt-2">
                                <a href="javascript:void(0);" data-bs-toggle="modal"
                                   data-bs-target="#create_status_modal">
                                    <button type="button"
                                            class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="right"
                                            data-bs-original-title=" Create status">
                                        <i class="bx bx-plus"></i>
                                    </button>
                                </a>
                                <a asp-action="Index" asp-controller="Status" target="_blank">
                                    <button type="button"
                                            class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="right"
                                            data-bs-original-title="Manage statuses">
                                        <i class="bx bx-list-ul"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="start_date">
                                Starts at <span class="asterisk">*</span>
                            </label>
                            <input type="text" id="start_date" asp-for="StartAt" class="form-control" >
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="due_date">
                                Ends at <span class="asterisk">*</span>
                            </label>
                            <input type="text" id="end_date" asp-for="EndAt" class="form-control">
                        </div>


                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="user_id">Select project<span class="asterisk">*</span></label>
                            <div class="input-group">
                                <select id="" class="form-control js-example-basic-multiple" asp-for="ProjectId"
                                        data-placeholder="Type to search">
                                    <option value=""></option>
                                    @if (ViewBag.projects != null && ViewBag.projects.Count > 0)
                                    {
                                        foreach (var item in ViewBag.projects)
                                        {
                                            <option value="@item.Id">
                                                @item.Title
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="user_id">Select users</label>
                            <div class="input-group">
                                <select id="" class="form-control js-example-basic-multiple" asp-for="TaskUserIds"
                                        multiple="multiple"
                                        data-placeholder="Type to search">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="mb-3">
                            <label for="description" class="form-label">Description<span class="asterisk">*</span></label>
                            <textarea class="form-control" id="description" rows="5" asp-for="Description" placeholder="Enter Description"></textarea>
                        </div>

                    </div>

                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2"
                                id="submit_btn">
                            Create
                        </button>
                        <button type="reset"
                                class="btn btn-outline-secondary">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const projectDropdown = $('select[name="ProjectId"]');
        const usersDropdown = $('select[name="TaskUserIds"]');

        // Function to update the users dropdown based on selected project
        function updateUsersDropdown(projectId) {
            usersDropdown.empty(); // Clear current options

            if (projectId) {
                $.ajax({
                    url: `/Task/GetUsersByProject/${projectId}`,
                    type: 'GET',
                    success: function (response) {
                        console.log(response);
                        if (response && response.users) {
                            response.users.forEach(user => {
                                usersDropdown.append(new Option(user.name, user.id));
                            });
                        }

                        usersDropdown.trigger('change');
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to fetch users:', error);
                    }
                });
            }
        }

        projectDropdown.change(function () {
            const selectedProjectId = $(this).val();
            updateUsersDropdown(selectedProjectId);
        });

        if (projectDropdown.children('option').length === 2) { 
            const singleProjectId = projectDropdown.children('option').eq(1).val();
            projectDropdown.val(singleProjectId).trigger('change');
        }
    });

</script>
