
@{
}
@model List<taskify_font_end.Models.DTO.WorkspaceDTO>

<div class="content-wrapper">

    <div class="container-fluid">
        <div class="d-flex justify-content-between mt-4">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1">
                        <li class="breadcrumb-item">
                            <a asp-action="Dashboard" asp-controller="Home">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            Workspaces
                        </li>
                    </ol>
                </nav>
            </div>
            <div>
                <a asp-action="Create" asp-controller="Workspace">
                    <button type="button" class="btn btn-sm btn-primary"
                            data-bs-toggle="tooltip" data-bs-placement="left"
                            data-bs-original-title="Create workspace">
                        <i class='bx bx-plus'></i>
                    </button>
                </a>
            </div>
        </div>
        <!-- workspaces -->
        
        @if (Model != null && Model.Count > 0)
        {
            
                <div class="card">
                    <div class="table-responsive text-nowrap">
                        <div class="row mt-4 mx-2">
                            <div class="col-md-3">
                                <select class="form-select" id="workspace_user_filter" aria-label="Default select example">
                                    <option value="">Select user</option>
                                @if(ViewBag.users != null && ViewBag.users.Count > 0)
                                {
                                    foreach(var item in ViewBag.users)
                                    {
                                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                                    }
                                }
                                <option value="2">
                                        super admin
                                    </option>
                                    
                                </select>
                            </div>
                        </div>

                        <input type="hidden" id="data_type" value="workspaces">
                       
                            <div class="card-body">
                                @* <table id="table" data-toggle="table" data-loading-template="loadingTemplate"
                                       data-url="https://taskify-saas.taskhub.company/master-panel/workspaces/list" data-icons-prefix="bx" data-icons="icons"
                                       data-show-refresh="true" data-total-field="total" data-trim-on-search="false" data-data-field="rows"
                                       data-page-list="[5, 10, 20, 50, 100, 200]" data-search="true" data-side-pagination="server"
                                       data-show-columns="true" data-pagination="true" data-sort-name="id" data-sort-order="desc"
                                       data-mobile-responsive="true" data-query-params="queryParams">
                                    <thead>
                                        <tr>
                                            <th data-checkbox="true"></th>
                                            <th data-sortable="true" data-field="id">ID</th>
                                            <th data-sortable="true" data-field="title">Title</th>
                                            <th data-field="users" data-formatter="userFormatter">Users                            </th>
                                            <th data-field="clients" data-formatter="clientFormatter">
                                                Clients
                                            </th>
                                            <th data-formatter="actionsFormatter">Actions</th>
                                        </tr>
                                    </thead>
                                </table> *@

                            <table data-mobile-responsive="true" data-route-prefix="/Workspace" id="table" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>User</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Title</td>
                                                <td>
                                                @if (item.WorkspaceUsers != null && item.WorkspaceUsers.Count > 0)
                                                {
                                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                                        @foreach(var user in item.WorkspaceUsers)
                                                        {
                                                            <li>
                                                                <a asp-action="Profile" asp-controller="User" asp-route-id="@user.Id" target="_blank"></a>
                                                            </li>
                                                            <li class="avatar avatar-sm pull-up" title="">
                                                                <a asp-action="Profile" asp-controller="User" asp-route-id="@user.Id" target="_blank">
                                                                    <img src="~/image/oZIhSJaP4lp4imBepBkvXv48amqt4ibWsDZxlhvq.png" class="rounded-circle">
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                                else
                                                {
                                                    
                                                    <span class="badge bg-primary">Not assigned</span>
                                                }
                                                </td>
                                                <td>
                                                <a asp-controller="Workspace" asp-action="Update" asp-route-id="@item.Id" title="label_update">
                                                    <i class="bx bx-edit mx-1"></i>
                                                </a>
                                                <a title="label_delete" type="button" class="btn delete" asp-action="RemoveMe" asp-controller="Workspace" asp-route-id="@item.Id">
                                                    <i class="bx bx-trash text-danger mx-1"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="duplicate" data-id="@item.Id" data-type="workspaces" data-table="table" title="label_duplicate">
                                                    <i class="bx bx-copy text-warning mx-2"></i>
                                                </a>

                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <p>Don't have any workspace'</p>
                                    }
                                </tbody>
                            </table>
                            </div>
                    </div>
                </div>
           
        }else{
            <div class="card text-center mt-4">
                <div class="card-body">
                    <div class="misc-wrapper">
                        <h2 class="mb-2 mx-2">You don't have any workspaces!</h2>
                        <p class="mb-4 mx-2">
                            Do you want to create a new workspace?
                        </p>
                        <a asp-action="Create" asp-controller="Workspace" class="btn btn-primary">Create</a>
                        <div class="mt-3">
                            <img src="~/image/man-with-laptop-light.png" alt="page-misc-error-light"
                                 width="500" class="img-fluid" data-app-dark-img="illustrations/page-misc-error-dark.png"
                                 data-app-light-img="illustrations/page-misc-error-light.png" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
    <script>
        var label_update = 'Update';
        var label_delete = 'Delete';
        var label_not_assigned = 'Not assigned';
        var label_duplicate = 'Duplicate';
    </script>
<script src="~/js/workspaces.js"></script>

<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>