@using System.Security.Claims;
@model List<taskify_font_end.Models.DTO.TodoDTO>

@{
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.PathBase}";
    var userId = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
}
<div class="content-wrapper">


    <div class="container-fluid">
        <div class="d-flex justify-content-between mt-4">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1">
                        <li class="breadcrumb-item">
                            <a asp-action="Dashboard" asp-controller="Home" >Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Todos
                        </li>
                    </ol>
                </nav>
            </div>
            <div>
                <span data-bs-toggle="modal" data-bs-target="#create_todo_modal">
                    <a href="javascript:void(0);"
                       class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="left"
                       data-bs-original-title="Create todo">
                        <i class='bx bx-plus'></i>
                    </a>
                </span>
            </div>
        </div>

        <div class="card">
            <div class="table-responsive text-nowrap">
                <table id="table" class="table">
                    <thead>
                        <tr>
                            <th>Todo</th>
                            <th>Priority</th>
                            <th>Description</th>
                            <th>Updated At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @if(Model != null && Model.Count > 0)
                        {
                            foreach(var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <form method="POST" asp-action="ChangeStatus" asp-controller="Todo">
                                                    <input type="checkbox" @(item.Status ? "checked" : "") id="@item.Id"
                                                        data-url="@baseUrl/Todo/ChangeStatus"
                                                        data-userId="@userId"
                                                        onclick='update_status(this)'
                                                        name="@item.Id" class="form-check-input mt-0">
                                                </form>
                                            </div>
                                            <span class="mx-4">
                                                <h4 class="m-0 @(item.Status ? "striked": "")"
                                                    id="@item.Id'_title'">
                                                    @item.Title
                                                </h4>
                                                <h7 class="m-0 text-muted">
                                                    @item.CreatedDate?.ToString("yyyy-MM-dd HH:mm:ss")
                                                </h7>

                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class='badge bg-label-@item.Priority?.Color?.Title me-1'>@item.Priority?.Title</span>
                                    </td>
                                    <td class="todo-description">
                                        @item.Description
                                    </td>
                                    <td class="todo-updatedDate">
                                        @item.UpdatedDate?.ToString("yyyy-MM-dd HH:mm:ss")
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="javascript:void(0);" class="edit-todo"
                                               data-url="@baseUrl/Todo/Get/@item.Id"
                                               data-bs-toggle="modal" data-bs-target="#edit_todo_modal"
                                               data-id="@item.Id" title="Update"
                                               class="card-link"><i class='bx bx-edit mx-1'></i></a>


                                            <a href="javascript:void(0);" type="button" data-id="@item.Id"
                                               data-reload="true" data-type="todo" class="card-link mx-4 delete">
                                                <i class='bx bx-trash text-danger mx-1'></i>
                                            </a>

                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var label_update = 'Update ';
    var label_delete = 'Delete ';
</script>
<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>