@* @model taskify_font_end.Models.DTO.MeetingDTO *@
@{
}
<div class="content-wrapper">

    <div class="container-fluid">
        <div class="d-flex justify-content-between mt-4">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1">
                        <li class="breadcrumb-item">
                            <a asp-action="Dashboard" asp-controller="Home">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Meetings
                        </li>

                    </ol>
                </nav>
            </div>
            <div>
                <a asp-action="Create" asp-controller="Meeting">
                    <button type="button" class="btn btn-sm btn-primary"
                            data-bs-toggle="tooltip" data-bs-placement="left"
                            data-bs-original-title="Create meeting">
                        <i class='bx bx-plus'></i>
                    </button>
                </a>
            </div>
        </div>
        <!-- meetings -->

        <div class="card">
            <div class="table-responsive text-nowrap">
                <div class="card-body">
                    <table data-mobile-responsive="true" data-route-prefix="/Meeting" id="table" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Preview</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            @if (Model != null && Model.Count > 0)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Title</td>
                                        <td><span class="badge bg-@item.Color?.Title">@item.Title.ToUpper()</span></td>
                                        <td>
                                            @if (!item.IsDefault)
                                            {
                                                <a href="javascript:void(0);" class="edit-tag card-link" data-bs-toggle="modal" data-bs-target="#edit_tag_modal" data-id="@item.Id" title="label_update"><i class="bx bx-edit mx-1"></i></a>
                                                <button title="label_delete" type="button" class="btn delete" data-id="@item.Id" data-type="tags">
                                                    <i class="bx bx-trash text-danger mx-1"></i>
                                                </button>
                                            }
                                            else
                                            {
                                                <span>Default Tag</span>
                                            }

                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <p>Don't have any tag'</p>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        var label_update = 'Update';
        var label_delete = 'Delete';
        var label_duplicate = 'Duplicate';
        var label_not_assigned = 'Not assigned';
    </script>
    @* <script src="~/js/meetings.js"></script> *@
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>