@using taskify_font_end.Utils;
@model List<taskify_font_end.Models.DTO.MeetingDTO>
@{
}
<div class="content-wrapper">

    <div class="container-fluid">
        <div class="d-flex justify-content-between mt-4">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1">
                        <li class="breadcrumb-item">
                            <a asp-action="Dashboard" asp-controller="Home">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Meetings
                        </li>

                    </ol>
                </nav>
            </div>
            <div>
                <a asp-action="Create" asp-controller="Meeting">
                    <button type="button" class="btn btn-sm btn-primary"
                            data-bs-toggle="tooltip" data-bs-placement="left"
                            data-bs-original-title="Create meeting">
                        <i class='bx bx-plus'></i>
                    </button>
                </a>
            </div>
        </div>
        <!-- meetings -->

        <div class="card">
            <div class="table-responsive text-nowrap">
                <div class="card-body">
                    <table data-mobile-responsive="true" data-route-prefix="/Meeting" id="table" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Users</th>
                                <th>Start At</th>
                                <th>End At</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            @if (Model != null && Model.Count > 0)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Title</td>
                                        <td>
                                            @if (item.MeetingUsers != null)
                                            {
                                                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">

                                                    @foreach (var user in item.MeetingUsers)
                                                    {
                                                        <li><a asp-action="Profile" asp-controller="User" asp-route-id="@user.UserId" target="_blank"></a></li>
                                                        <li class="avatar avatar-sm pull-up" title="Sid gor">
                                                            <a asp-action="Profile" asp-controller="User" asp-route-id="@user.UserId" target="_blank">
                                                                <img src="@user.User?.ImageUrl" class="rounded-circle">
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            }else{
                                                <span class="badge bg-primary">Not assigned</span>
                                            }
                                        </td>
                                        <td>@item.StartDateTime</td>
                                        <td>@item.EndDateTime</td>
                                        <td>
                                            <span>@(TimeUtilities.CalculateTimeStatus(item.StartDateTime, item.EndDateTime))</span>
                                        </td>
                                        <td>
                                            <a asp-action="Update" asp-controller="Meeting" asp-route-id="@item.Id" title="Update"><i class="bx bx-edit mx-1"></i></a>
                                            <button title="Delete" type="button" class="btn delete" data-id="@item.Id" data-type="meeting" data-table="meetings_table"><i class="bx bx-trash text-danger mx-1"></i></button>
                                            <a href="javascript:void(0);" class="duplicate" data-id="@item.Id" data-type="meeting" data-table="meetings_table" title="Duplicate"><i class="bx bx-copy text-warning mx-2"></i></a>
                                            @if(item.StartDate <= DateTime.Now && item.EndDate > DateTime.Now)
                                            {
                                                <a href="@item.MeetingUrl" target="_blank" title="Join"><i class="bx bx-arrow-to-right text-success mx-3"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <p>Don't have any meeting'</p>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        var label_update = 'Update';
        var label_delete = 'Delete';
        var label_duplicate = 'Duplicate';
        var label_not_assigned = 'Not assigned';
    </script>
    @* <script src="~/js/meetings.js"></script> *@
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>



