@model taskify_font_end.Models.DTO.MeetingDTO
@{
    var userId = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
}
<div class="content-wrapper">

    <div class="container-fluid">
        <div class="d-flex justify-content-between mt-4">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1">
                        <li class="breadcrumb-item">
                            <a asp-action="Dashboard" asp-controller="Home">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="Meeting">Meetings</a>
                        </li>
                        <li class="breadcrumb-item">
                            @Model.Title
                        </li>
                        <li class="breadcrumb-item active">
                            Update
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form asp-action="Update" asp-controller="Meeting" class="form-submit-event" method="POST">
                    <input asp-for="OwnerId" type="hidden" />
                    <input asp-for="WorkspaceId" type="hidden" />
                    <input asp-for="RequestId" type="hidden" />
                    <input asp-for="MeetingUrl" type="hidden" />
                    <div class="row">
                        <div class="mb-3">
                            <label for="title" class="form-label">
                                Title <span class="asterisk">*</span>
                            </label>
                            <input class="form-control" type="text" id="title"
                                   placeholder="Enter Title" asp-for="Title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="">
                                Starts at <span class="asterisk">*</span>
                            </label>
                            <input type="text" id="start_date" asp-for="StartDate" class="form-control" >
                        </div>
                        <div class="mb-3 col-md-2">
                            <label class="form-label" for="">
                                Time <span class="asterisk">*</span>
                            </label>
                            <input type="time" asp-for="StartTime" class="form-control" />
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="end_date">
                                Ends at <span class="asterisk">*</span>
                            </label>
                            <input type="text" id="end_date" asp-for="EndDate" class="form-control" />
                        </div>
                        <div class="mb-3 col-md-2">
                            <label class="form-label" for="">
                                Time <span class="asterisk">*</span>
                            </label>
                            <input type="time" asp-for="EndTime" class="form-control">
                        </div>
                    </div>
                    <input type="hidden" asp-for="OwnerId" value="@userId" />
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="user_id">Select users</label>
                            <div class="input-group">
                                <select id="" class="form-control js-example-basic-multiple" asp-for="MeetingUserIds"
                                        multiple="multiple"
                                        data-placeholder="Type to search">
                                    @if (ViewBag.users != null)
                                    {
                                        @foreach (var item in ViewBag.users)
                                        {
                                            <option value="@item.Id">@item.FirstName @item.LastName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2"
                                id="submit_btn">
                            Update
                        </button>
                        <button type="reset"
                                class="btn btn-outline-secondary">
                            Cancel
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
