@model List<taskify_font_end.Models.DTO.UserDTO>
@{
}
<div class="content-wrapper">

    <div class="container-fluid">
        <div class="d-flex justify-content-between mt-4">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1">
                        <li class="breadcrumb-item">
                            <a asp-action="Dashboard" asp-controller="Home">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Users
                        </li>
                    </ol>
                </nav>
            </div>
            <div>
                <a asp-action="Create" asp-controller="User">
                    <button type="button" class="btn btn-sm btn-primary"
                            data-bs-toggle="tooltip" data-bs-placement="left"
                            data-bs-original-title="Create user">
                        <i class='bx bx-plus'></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="card ">
            <input type="hidden" id="data_type" value="users">
            <div class="card-header  d-flex justify-content-between align-items-center">
                <h4 class="card-title mb-0">Users</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table data-mobile-responsive="true" data-route-prefix="/User" id="table" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>User</th>
                                <th>Role</th>
                                <th>PhoneNumber</th>
                                <th>Assigned</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            @if (Model != null && Model.Count > 0)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="avatar avatar-md pull-up" title="jimy karter">
                                                    <a asp-action="Profile" asp-controller="User" asp-route-id="@item.Id">
                                                        <img src="@item.ImageUrl" alt="Avatar" class="rounded-circle">
                                                    </a>
                                                </div><div class="mx-2 mt-2"><h6 class="mb-1">@item.FirstName @item.LastName</h6><p class="text-muted">@item.Email</p></div>
                                            </div>
                                        </td>
                                        <td>@item.Role?.Name</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div class="text-center mx-4">
                                                    <span class="badge rounded-pill bg-primary">@item.Tasks.Count</span>
                                                    <div>Projects</div>
                                                </div>
                                                <div class="text-center">
                                                    <span class="badge rounded-pill bg-primary">@item.Projects.Count</span>
                                                    <div>Tasks</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @if(item.IsLockedOut)
                                            {
                                                <button title="Unlock" type="button" data-locked="true" class="btn unlock" data-id="@item.Id"><i class="bx bxs-lock-open-alt mx-1"></i></button>
                                            }
                                            else
                                            {
                                                <button title="Lock" type="button" data-locked="false" class="btn lock" data-id="@item.Id"><i class="bx bxs-lock mx-1"></i></button>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <p>Don't have any user</p>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmModal_User" tabindex="-1" aria-labelledby="confirmModalLabel_User" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel_User">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Confirmation message will be dynamically updated -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmActionBtn">Yes</button>
            </div>
        </div>
    </div>
</div>

    <script>
        var label_update = 'Update';
        var label_delete = 'Delete';
        var label_projects = 'Projects';
        var label_tasks = 'Tasks';
    </script>
    @* <script src="~/js/users.js"></script> *@



<script>
    $(document).ready(function () {
        $('#table').DataTable();

        $('.lock, .unlock').click(function () {
            var userId = $(this).data('id');
            var dataLocked = $(this).data('locked').toString().trim();
            var isLockedOut = dataLocked === 'true';
            console.log(isLockedOut)
            console.log(dataLocked)
            console.log(userId)
            // Update modal message based on action
            if (isLockedOut) {
                $('#confirmModal_User .modal-body').html('Are you sure you want to unlock this user?');
            } else {
                $('#confirmModal_User .modal-body').html('Are you sure you want to lock this user?');
            }

            // Show the modal
            $('#confirmModal_User').modal('show');

            // Handle confirmation button click
            $('#confirmActionBtn').off().click(function () {
                $('#confirmModal').modal('hide');
                var actionUrl = isLockedOut ? '/User/Unlock' : '/User/Lock';

                // AJAX request
                $.ajax({
                    url: actionUrl,
                    type: 'Get', // Use POST method for update/delete actions
                    data: { id: userId },
                    success: function (response) {
                        if(response.isSuccess){
                            toastr.success(response.message); // Display success message
                            setTimeout(function () {
                                location.reload(); // Reload page after 3 seconds
                            }, 3000);

                        }else{
                            toastr.error(response.message);
                            $('#confirmModal').modal('hide');
                        }
                        
                        
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                        toastr.error('Failed to perform action.'); // Display error message
                    }
                });
            });
        });
    });
</script>


