@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content-wrapper">

    <div class="container-fluid">
        <div class="d-flex justify-content-between mt-4">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1">
                        <li class="breadcrumb-item">
                            <a asp-action="Dashboard" asp-controller="Home">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Users
                        </li>
                    </ol>
                </nav>
            </div>
            <div>
                <a asp-action="Create" asp-controller="User">
                    <button type="button" class="btn btn-sm btn-primary"
                            data-bs-toggle="tooltip" data-bs-placement="left"
                            data-bs-original-title="Create user">
                        <i class='bx bx-plus'></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="card ">
            <input type="hidden" id="data_type" value="users">
            <div class="card-header  d-flex justify-content-between align-items-center">
                <h4 class="card-title mb-0">Users</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table data-mobile-responsive="true" data-route-prefix="/User" id="table" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>User</th>
                                <th>Role</th>
                                <th>PhoneNumber</th>
                                <th>Assigned</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            @if (Model != null && Model.Count > 0)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="avatar avatar-md pull-up" title="jimy karter">
                                                    <a asp-action="Profile" asp-controller="User" asp-route-id="@item.Id">
                                                        <img src="@item.ImageUrl" alt="Avatar" class="rounded-circle">
                                                    </a>
                                                </div><div class="mx-2 mt-2"><h6 class="mb-1">@item.FirstName @item.LastName</h6><p class="text-muted">@item.Email</p></div>
                                            </div>
                                        </td>
                                        <td>@item.Role?.Name</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div class="text-center mx-4">
                                                    <span class="badge rounded-pill bg-primary">@item.Tasks.Count</span>
                                                    <div>Projects</div>
                                                </div>
                                                <div class="text-center">
                                                    <span class="badge rounded-pill bg-primary">@item.Projects.Count</span>
                                                    <div>Tasks</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @* <a asp-action="Update" asp-route-id="@item.Id" asp-controller="User" class="edit-user card-link" data-bs-toggle="modal" data-id="@item.Id" title="label_update"><i class="bx bx-edit mx-1"></i></a> *@
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <p>Don't have any user</p>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        var label_update = 'Update';
        var label_delete = 'Delete';
        var label_projects = 'Projects';
        var label_tasks = 'Tasks';
    </script>
    @* <script src="~/js/users.js"></script> *@
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
