@using System.Security.Claims;
@using taskify_utility;
@model taskify_font_end.Models.DTO.UserDTO
@{
    var authMethodClaim = User.FindFirst(ClaimTypes.AuthenticationMethod);

}
<div class="content-wrapper">
    @if(Model != null)
    {
        <div class="container-fluid">
            <div class="d-flex justify-content-between mt-4">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-style1">
                            <li class="breadcrumb-item">
                                <a asp-action="Dashboard" asp-controller="Home">Home</a>
                            </li>
                            @if (User.IsInRole(SD.Admin))
                            {
                                <li class="breadcrumb-item">
                                    <a asp-action="Index" asp-controller="User">Users</a>
                                </li>
                            }
                            <li class="breadcrumb-item">
                                @Model.FirstName @Model.LastName
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">

                        <!-- Account -->
                        <div class="card-body">
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <img src="@Model.ImageUrl"
                                     alt="user-avatar" class="d-block rounded" height="100" width="100"
                                     id="uploadedAvatar" />
                                <h4 class="card-header fw-bold">@Model.FirstName @Model.LastName</h4>
                            </div>
                        </div>
                        <hr class="my-0" />
                        <div class="card-body">
                            <div class="row">

                                <div class="mb-3 col-md-6">
                                    <label class="form-label"
                                           for="phone">Phone number</label>
                                    <div class="input-group input-group-merge">
                                        <input type="text" id="phone" name="phone" class="form-control" placeholder=""
                                               value="@Model.PhoneNumber" readonly />
                                    </div>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="email">E-mail</label>
                                    <div class="input-group input-group-merge">
                                        <input class="form-control" type="text" id="exampleFormControlReadOnlyInput1"
                                               placeholder="" value="@Model.Email" readonly="">
                                    </div>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="role">Role</label>
                                    <div class="input-group input-group-merge">
                                        <input class="form-control text-capitalize" type="text" id="role" placeholder=""
                                               value="@(User.IsInRole(SD.Admin) ? "Admin" : "Client")" readonly="">
                                    </div>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="address">Address</label>
                                    <div class="input-group input-group-merge">
                                        <input class="form-control" type="text" id="address" placeholder=""
                                               value="@Model.Address" readonly="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tabs -->
            <div class="nav-align-top my-4">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                                data-bs-target="#navs-top-projects" aria-controls="navs-top-projects"
                                aria-selected="true">
                            <i class="menu-icon tf-icons bx bx-briefcase-alt-2 text-success"></i>Projects
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                                data-bs-target="#navs-top-tasks" aria-controls="navs-top-tasks" aria-selected="false">
                            <i class="menu-icon tf-icons bx bx-task text-primary"></i>Tasks
                        </button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="navs-top-projects" role="tabpanel">

                        <div class="table-responsive text-nowrap">

                            <div class="d-flex justify-content-between">
                                <h4 class="fw-bold">Akash's Projects                                    </h4>
                            </div>
                            <!-- projects card -->
                            <div class="card ">
                                <div class="table-responsive text-nowrap">
                                    <div class="card-body">
                                        <table data-mobile-responsive="true" data-route-prefix="/Project" id="tableProject" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Title</th>
                                                    <th>User</th>
                                                    <th>StartAt</th>
                                                    <th>EndAt</th>
                                                    <th>Actual EndAt</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tableBody">
                                                @if (ViewBag.projects != null && ViewBag.projects.Count > 0)
                                                {
                                                    @foreach (var item in ViewBag.projects)
                                                    {
                                                        <tr>
                                                            <td>@item.Id</td>
                                                            <td>
                                                                <a asp-action="Detail" asp-controller="Project" asp-route-id="@item.Id" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@item.Title"><strong>@item.Title</strong></a>
                                                            </td>
                                                            <td>
                                                                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                                                    @foreach (var user in item.ProjectUsers)
                                                                    {
                                                                        <li><a asp-action="Profile" asp-controller="User" asp-route-id="@user.User?.Id" target="_blank"></a></li>
                                                                        <li class="avatar avatar-sm pull-up" title="@user.User?.FirstName @user.User?.LastName">
                                                                            <a asp-action="Profile" asp-controller="User" asp-route-id="@user.User?.Id" target="_blank">
                                                                                <img src="@user.User?.ImageUrl" class="rounded-circle">
                                                                            </a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </td>
                                                            <td>@item.StartAt.ToShortDateString()</td>
                                                            <td>@item.EndAt.ToShortDateString()</td>
                                                            <td>@item.ActualEndAt?.ToShortDateString()</td>
                                                            <td>
                                                                @if (Model.Id.Equals(item.OwnerId))
                                                                {
                                                                    <a asp-action="Update" asp-controller="Project" asp-route-id="@item.Id" title="Update"><i class="bx bx-edit mx-1"></i></a>
                                                                    <button title="Delete" type="button" class="btn delete-item" data-id="@item.Id" data-type="Project">
                                                                        <i class="bx bx-trash text-danger"></i>
                                                                    </button>
                                                                    <button class="duplicate-item btn" data-id="@item.Id" data-type="Project"><i class='menu-icon tf-icons bx bx-copy text-warning'></i></button>

                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            <script>
                                var label_update = 'Update ';
                                var label_delete = 'Delete';
                                var label_not_assigned = 'Not assigned ';
                                var add_favorite = 'Click to mark as favorite ';
                                var remove_favorite = 'Click to remove from favorite ';
                                var label_duplicate = 'Duplicate ';

                            </script>
                            <script src="~/js/project-list.js"></script>
                        </div>

                    </div>

                    <div class="tab-pane fade "
                         id="navs-top-tasks" role="tabpanel">

                        <div class="table-responsive text-nowrap">

                            <div class="d-flex justify-content-between">
                                <h4 class="fw-bold">Akash's Tasks</h4>
                            </div>
                            <!-- tasks -->
                            <div class="card ">
                                <div class="table-responsive text-nowrap">
                                    <div class="card-body">
                                        <table data-mobile-responsive="true" data-route-prefix="/Task" id="tableTask" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Task</th>
                                                    <th>Project</th>
                                                    <th>Users</th>
                                                    <th>StartAt</th>
                                                    <th>EndAt</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tableBody">
                                                @if (ViewBag.tasks != null && ViewBag.tasks.Count > 0)
                                                {
                                                    @foreach (var item in ViewBag.tasks)
                                                    {
                                                        <tr>
                                                            <td>@item.Id</td>
                                                            <td><a asp-action="Detail" asp-controller="Task" asp-route-id="@item.Id" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@item.Title"><strong>@item.Title</strong></a></td>
                                                            <td><a asp-action="Detail" asp-controller="Project" asp-route-id="@item.ProjectId" target="_blank data-bs-toggle=" tooltip'="" data-bs-placement="bottom" title="New" website="" to="" work="" on=""><strong>@item.Project?.Title</strong></a></td>
                                                            <td>
                                                                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                                                    @foreach (var user in item.TaskUsers)
                                                                    {
                                                                        <li><a asp-action="Profile" asp-controller="User" asp-route-id="@user.User?.Id" target="_blank"></a></li>
                                                                        <li class="avatar avatar-sm pull-up" title="@user.User?.FirstName @user.User?.LastName">
                                                                            <a asp-action="Profile" asp-controller="User" asp-route-id="@user.User?.Id" target="_blank">
                                                                                <img src="@user.User?.ImageUrl" class="rounded-circle">
                                                                            </a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </td>
                                                            <td>@item.StartAt.ToShortDateString()</td>
                                                            <td>@item.EndAt.ToShortDateString()</td>
                                                            <td><span class="badge bg-label-@item.Status?.Color?.Title me-1">@item.Status?.Title</span></td>
                                                            <td>
                                                                <a asp-action="Update" asp-controller="Task" asp-route-id="@item.Id" title="Update"><i class="bx bx-edit mx-1"></i></a>
                                                                @if (Model.Id.Equals(item.OwnerId))
                                                                {

                                                                    <button title="Delete" type="button" class="btn delete-item" data-id="@item.Id" data-type="Task">
                                                                        <i class="bx bx-trash text-danger"></i>
                                                                    </button>
                                                                }
                                                                <button class="duplicate-item btn" data-id="@item.Id" data-type="Task"><i class='menu-icon tf-icons bx bx-copy text-warning'></i></button>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>


                            <script>
                                var label_update = 'Update ';
                                var label_delete = 'Delete ';
                                var label_duplicate = 'Duplicate ';
                                var label_not_assigned = 'Not assigned ';
                                var add_favorite = 'Click to mark as favorite ';
                                var remove_favorite = 'Click to remove from favorite ';
                                var id = '';
                            </script>
                            <script src="~/js/task.js"></script>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    }
    else
    {
        <div class="container-fluid">
            <h1 class="text-danger">Not Found</h1>
        </div>
    }
    
</div>

<script>
    $(document).ready(function () {
        $('#tableProject').DataTable();
        $('#tableTask').DataTable();
    });
</script>