﻿@using taskify_utility

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdmin = User.IsInRole(SD.Admin);
}
@model taskify_font_end.Models.DTO.WorkspaceDTO

@if(Model == null)
{


    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card text-center mt-4">
                <div class="card-body">
                    <div class="misc-wrapper">
                        <h2 class="mb-2 mx-2">You don't have any workspaces!</h2>
                        <p class="mb-4 mx-2">
                            Do you want to create a new workspace?
                        </p>
                        <a asp-action="Create" asp-controller="Workspace" class="btn btn-primary">Create</a>
                        <div class="mt-3">
                            <img src="~/image/man-with-laptop-light.png" alt="page-misc-error-light"
                                 width="500" class="img-fluid" data-app-dark-img="illustrations/page-misc-error-dark.png"
                                 data-app-light-img="illustrations/page-misc-error-light.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="content-wrapper">

        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 order-1">
                <div class="row mt-4">

                    <div class="@(isAdmin ? "col-lg-4" : "col-lg-6") col-md-12 col-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <div class="avatar flex-shrink-0">
                                        <i class="menu-icon tf-icons bx bx-briefcase-alt-2 bx-md text-success"></i>
                                    </div>
                                </div>
                                <span class="fw-semibold d-block mb-1">Total projects</span>
                                <h3 class="card-title mb-2">
                                    @(ViewBag.totalProjects != null ? @ViewBag.totalProjects : "0")
                                </h3>
                                <a asp-action="Index" asp-controller="Project">
                                    <small class="text-success fw-semibold">
                                        <i class="bx bx-right-arrow-alt"></i>View more
                                    </small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="@(isAdmin ? "col-lg-4" : "col-lg-6")  col-md-12 col-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <div class="avatar flex-shrink-0">
                                        <i class="menu-icon tf-icons bx bx-task bx-md text-primary"></i>
                                    </div>
                                </div>
                                <span class="fw-semibold d-block mb-1">Total tasks</span>
                                <h3 class="card-title mb-2">48</h3>
                                <a asp-action="Index" asp-controller="Task">
                                    <small class="text-primary fw-semibold">
                                        <i class="bx bx-right-arrow-alt"></i>View more
                                    </small>
                                </a>
                            </div>
                        </div>
                    </div>
                    @if (isAdmin)
                    {
                        <div class="@(isAdmin ? "col-lg-4" : "col-lg-6")  col-md-12 col-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between">
                                        <div class="avatar flex-shrink-0">
                                            <i class="menu-icon tf-icons bx bxs-user-detail bx-md text-warning"></i>
                                        </div>
                                    </div>
                                    <span class="fw-semibold d-block mb-1">Total users</span>
                                    <h3 class="card-title mb-2">
                                        6
                                    </h3>
                                    <a asp-action="Index" asp-controller="User">
                                        <small class="text-warning fw-semibold">
                                            <i class="bx bx-right-arrow-alt"></i>View more
                                        </small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                        <div class="card h-100">
                            <div class="card-header d-flex align-items-center justify-content-between pt-3 pb-1">
                                <div class="card-title mb-0">
                                    <h5 class="m-0 me-2">Project statistics</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">

                                    <div id="projectStatisticsChart"></div>
                                </div>
                                <ul class="p-0 m-0">
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <span class="avatar-initial rounded bg-label-primary">
                                                <i class="bx bx-briefcase-alt-2 text-danger"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">

                                                <a href="https://taskify-saas.taskhub.company/master-panel/projects?status=0">
                                                    <h6 class="mb-0">Default</h6>
                                                </a>
                                            </div>
                                            <div class="user-progress">
                                                <small class="fw-semibold">2</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <span class="avatar-initial rounded bg-label-primary">
                                                <i class="bx bx-briefcase-alt-2 text-primary"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">

                                                <a href="https://taskify-saas.taskhub.company/master-panel/projects?status=72">
                                                    <h6 class="mb-0">STARTED</h6>
                                                </a>
                                            </div>
                                            <div class="user-progress">
                                                <small class="fw-semibold">4</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <span class="avatar-initial rounded bg-label-primary">
                                                <i class="bx bx-briefcase-alt-2 text-info"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">

                                                <a href="https://taskify-saas.taskhub.company/master-panel/projects?status=73">
                                                    <h6 class="mb-0">ON GOING</h6>
                                                </a>
                                            </div>
                                            <div class="user-progress">
                                                <small class="fw-semibold">5</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <span class="avatar-initial rounded bg-label-primary">
                                                <i class="bx bx-briefcase-alt-2 text-warning"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">

                                                <a href="https://taskify-saas.taskhub.company/master-panel/projects?status=74">
                                                    <h6 class="mb-0">IN REVIEW</h6>
                                                </a>
                                            </div>
                                            <div class="user-progress">
                                                <small class="fw-semibold">2</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <span class="avatar-initial rounded bg-label-primary">
                                                <i class="bx bx-menu"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <h5 class="mb-0">Total</h5>
                                            </div>
                                            <div class="user-progress">
                                                <div class="status-count">
                                                    <h5 class="mb-0">13</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                        <div class="card h-100">
                            <div class="card-header d-flex align-items-center justify-content-between pt-3 pb-1">
                                <div class="card-title mb-0">
                                    <h5 class="m-0 me-2">Task statistics</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <div id="taskStatisticsChart"></div>
                                </div>
                                <ul class="p-0 m-0">
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <span class="avatar-initial rounded bg-label-primary">
                                                <i class="bx bx-task text-danger"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <a href="https://taskify-saas.taskhub.company/master-panel/tasks?status=0">
                                                    <h6 class="mb-0">Default</h6>
                                                </a>
                                            </div>
                                            <div class="user-progress">
                                                <small class="fw-semibold">3</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <span class="avatar-initial rounded bg-label-primary">
                                                <i class="bx bx-task text-primary"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <a href="https://taskify-saas.taskhub.company/master-panel/tasks?status=72">
                                                    <h6 class="mb-0">STARTED</h6>
                                                </a>
                                            </div>
                                            <div class="user-progress">
                                                <small class="fw-semibold">7</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <span class="avatar-initial rounded bg-label-primary">
                                                <i class="bx bx-task text-info"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <a href="https://taskify-saas.taskhub.company/master-panel/tasks?status=73">
                                                    <h6 class="mb-0">ON GOING</h6>
                                                </a>
                                            </div>
                                            <div class="user-progress">
                                                <small class="fw-semibold">20</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <span class="avatar-initial rounded bg-label-primary">
                                                <i class="bx bx-task text-warning"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <a href="https://taskify-saas.taskhub.company/master-panel/tasks?status=74">
                                                    <h6 class="mb-0">IN REVIEW</h6>
                                                </a>
                                            </div>
                                            <div class="user-progress">
                                                <small class="fw-semibold">18</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <span class="avatar-initial rounded bg-label-primary">
                                                <i class="bx bx-menu"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <h5 class="mb-0">Total</h5>
                                            </div>
                                            <div class="user-progress">
                                                <div class="status-count">
                                                    <h5 class="mb-0">48</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 order-2 mb-4">
                        <div class="card h-100">
                            <div class="card-header d-flex justify-content-between pt-3 pb-0">
                                <h5 class="card-title m-0 me-2">Todos overview</h5>
                                <div>
                                    <span data-bs-toggle="modal" data-bs-target="#create_todo_modal">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-primary"
                                           data-bs-toggle="tooltip" data-bs-placement="left"
                                           data-bs-original-title="Create todo">
                                            <i class='bx bx-plus'></i>
                                        </a>
                                    </span>
                                    <a href="https://taskify-saas.taskhub.company/master-panel/todos">
                                        <button type="button"
                                                class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="right"
                                                data-bs-original-title="View more">
                                            <i class="bx bx-list-ul"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <div id="todoStatisticsChart"></div>
                                </div>
                                <ul class="p-0 m-0">
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0">
                                            <input type="checkbox" id="35"
                                                   data-url="https://taskify-saas.taskhub.company/master-panel/todos/update_status"
                                                   onclick='update_status(this)' name="35"
                                                   class="form-check-input mt-0">
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <h6 class="mb-0 "
                                                    id="35_title">
                                                    aaa
                                                </h6>
                                                <small class="text-muted d-block mb-1">18-06-2024 12:26:07</small>
                                            </div>
                                            <div class="user-progress d-flex align-items-center gap-1">
                                                <a href="javascript:void(0);" class="edit-todo"
                                                   data-url="https://taskify-saas.taskhub.company/master-panel/todos/get/35"
                                                   data-bs-toggle="modal" data-bs-target="#edit_todo_modal"
                                                   data-id="35"
                                                   title="Update">
                                                    <i class='bx bx-edit mx-1'></i>
                                                </a>
                                                <a href="javascript:void(0);" class="delete"
                                                   data-id="35" data-type="todos"
                                                   title="Delete">
                                                    <i class='bx bx-trash text-danger mx-1'></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0">
                                            <input type="checkbox" id="34"
                                                   data-url="https://taskify-saas.taskhub.company/master-panel/todos/update_status"
                                                   onclick='update_status(this)' name="34"
                                                   class="form-check-input mt-0"
                                                   checked>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <h6 class="mb-0 striked"
                                                    id="34_title">
                                                    Make A videos
                                                </h6>
                                                <small class="text-muted d-block mb-1">17-06-2024 16:36:37</small>
                                            </div>
                                            <div class="user-progress d-flex align-items-center gap-1">
                                                <a href="javascript:void(0);" class="edit-todo"
                                                   data-url="https://taskify-saas.taskhub.company/master-panel/todos/get/34"
                                                   data-bs-toggle="modal" data-bs-target="#edit_todo_modal"
                                                   data-id="34"
                                                   title="Update">
                                                    <i class='bx bx-edit mx-1'></i>
                                                </a>
                                                <a href="javascript:void(0);" class="delete"
                                                   data-id="34" data-type="todos"
                                                   title="Delete">
                                                    <i class='bx bx-trash text-danger mx-1'></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0">
                                            <input type="checkbox" id="28"
                                                   data-url="https://taskify-saas.taskhub.company/master-panel/todos/update_status"
                                                   onclick='update_status(this)' name="28"
                                                   class="form-check-input mt-0">
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <h6 class="mb-0 "
                                                    id="28_title">
                                                    Tksdjflkas
                                                </h6>
                                                <small class="text-muted d-block mb-1">05-06-2024 13:25:06</small>
                                            </div>
                                            <div class="user-progress d-flex align-items-center gap-1">
                                                <a href="javascript:void(0);" class="edit-todo"
                                                   data-url="https://taskify-saas.taskhub.company/master-panel/todos/get/28"
                                                   data-bs-toggle="modal" data-bs-target="#edit_todo_modal"
                                                   data-id="28"
                                                   title="Update">
                                                    <i class='bx bx-edit mx-1'></i>
                                                </a>
                                                <a href="javascript:void(0);" class="delete"
                                                   data-id="28" data-type="todos"
                                                   title="Delete">
                                                    <i class='bx bx-trash text-danger mx-1'></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0">
                                            <input type="checkbox" id="23"
                                                   data-url="https://taskify-saas.taskhub.company/master-panel/todos/update_status"
                                                   onclick='update_status(this)' name="23"
                                                   class="form-check-input mt-0"
                                                   checked>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <h6 class="mb-0 striked"
                                                    id="23_title">
                                                    test
                                                </h6>
                                                <small class="text-muted d-block mb-1">24-05-2024 22:26:58</small>
                                            </div>
                                            <div class="user-progress d-flex align-items-center gap-1">
                                                <a href="javascript:void(0);" class="edit-todo"
                                                   data-url="https://taskify-saas.taskhub.company/master-panel/todos/get/23"
                                                   data-bs-toggle="modal" data-bs-target="#edit_todo_modal"
                                                   data-id="23"
                                                   title="Update">
                                                    <i class='bx bx-edit mx-1'></i>
                                                </a>
                                                <a href="javascript:void(0);" class="delete"
                                                   data-id="23" data-type="todos"
                                                   title="Delete">
                                                    <i class='bx bx-trash text-danger mx-1'></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0">
                                            <input type="checkbox" id="21"
                                                   data-url="https://taskify-saas.taskhub.company/master-panel/todos/update_status"
                                                   onclick='update_status(this)' name="21"
                                                   class="form-check-input mt-0"
                                                   checked>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <h6 class="mb-0 striked"
                                                    id="21_title">
                                                    Votre connexion n’est pas privée
                                                </h6>
                                                <small class="text-muted d-block mb-1">24-05-2024 13:46:50</small>
                                            </div>
                                            <div class="user-progress d-flex align-items-center gap-1">
                                                <a href="javascript:void(0);" class="edit-todo"
                                                   data-url="https://taskify-saas.taskhub.company/master-panel/todos/get/21"
                                                   data-bs-toggle="modal" data-bs-target="#edit_todo_modal"
                                                   data-id="21"
                                                   title="Update">
                                                    <i class='bx bx-edit mx-1'></i>
                                                </a>
                                                <a href="javascript:void(0);" class="delete"
                                                   data-id="21" data-type="todos"
                                                   title="Delete">
                                                    <i class='bx bx-trash text-danger mx-1'></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nav-align-top my-4">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                                data-bs-target="#navs-top-projects" aria-controls="navs-top-projects"
                                aria-selected="true">
                            <i class="menu-icon tf-icons bx bx-briefcase-alt-2 text-success"></i>Projects
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                                data-bs-target="#navs-top-tasks" aria-controls="navs-top-tasks" aria-selected="false">
                            <i class="menu-icon tf-icons bx bx-task text-primary"></i>Tasks
                        </button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="navs-top-projects" role="tabpanel">

                        <div class="">

                            <div class="d-flex justify-content-between">
                                <h4 class="fw-bold">
                                    Sid's
                                    Projects
                                </h4>
                            </div>
                            <!-- projects card -->
                            <div class="">
                                <div>


                                    <div class="row mt-4 ">
                                        <div class="mb-3 col-md-3">
                                            <div class="input-group input-group-merge">
                                                <input type="text" id="project_start_date_between" name="start_date_between" class="form-control"
                                                       placeholder="Start date between" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="mb-3 col-md-3">
                                            <div class="input-group input-group-merge">
                                                <input type="text" id="project_end_date_between" name="project_end_date_between"
                                                       class="form-control" placeholder="End date between"
                                                       autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-select" id="projects_user_filter" aria-label="Default select example">
                                                <option value="">Select user</option>
                                                <option value="5">
                                                    Sid gor
                                                </option>
                                                <option value="7">
                                                    Team Member 1
                                                </option>
                                                <option value="14">
                                                    King Lost
                                                </option>
                                                <option value="15">
                                                    jimy karter
                                                </option>
                                                <option value="16">
                                                    kenny blinder
                                                </option>
                                                <option value="34">
                                                    Akash Dhaman
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-md-3">
                                            <select class="form-select" id="projects_client_filter" aria-label="Default select example">
                                                <option value="">Select client</option>
                                                <option value="2">
                                                    same parker
                                                </option>
                                                <option value="3">
                                                    Thomas bond
                                                </option>
                                                <option value="4">
                                                    shie Waine
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-select" id="status_filter" aria-label="Default select example">
                                                <option value="">Select status</option>

                                                <option value="0">
                                                    Default
                                                </option>



                                                <option value="72">
                                                    STARTED
                                                </option>



                                                <option value="73">
                                                    ON GOING
                                                </option>



                                                <option value="74">
                                                    IN REVIEW
                                                </option>


                                            </select>
                                        </div>
                                    </div>

                                    <input type="hidden" name="project_start_date_from" id="project_start_date_from">
                                    <input type="hidden" name="project_start_date_to" id="project_start_date_to">

                                    <input type="hidden" name="project_end_date_from" id="project_end_date_from">
                                    <input type="hidden" name="project_end_date_to" id="project_end_date_to">

                                    <input type="hidden" id="is_favorites" value="">

                                    <input type="hidden" id="data_type" value="projects">
                                    <input type="hidden" id="data_table" value="projects_table">

                                    <div class="">
                                        <table id="projects_table" data-toggle="table" data-loading-template="loadingTemplate"
                                               data-url="https://taskify-saas.taskhub.company/master-panel/projects/listing" data-icons-prefix="bx" data-icons="icons"
                                               data-show-refresh="true" data-total-field="total" data-trim-on-search="false" data-data-field="rows"
                                               data-page-list="[5, 10, 20, 50, 100, 200]" data-search="true" data-side-pagination="server"
                                               data-show-columns="true" data-pagination="true" data-sort-name="id" data-sort-order="desc"
                                               data-route-prefix="/master-panel" data-mobile-responsive="true"
                                               data-query-params="queryParamsProjects">
                                            <thead>
                                                <tr>
                                                    <th data-checkbox="true"></th>
                                                    <th data-sortable="true" data-field="id">ID</th>
                                                    <th data-sortable="true" data-field="title">Title</th>
                                                    <th data-field="users" data-formatter="ProjectUserFormatter">
                                                        Users
                                                    </th>
                                                    <th data-field="clients" data-formatter="ProjectClientFormatter">
                                                        Clients
                                                    </th>
                                                    <th data-sortable="true" data-field="start_date">
                                                        Starts at
                                                    </th>
                                                    <th data-sortable="true" data-field="end_date">Ends at                        </th>
                                                    <th data-sortable="true" data-field="end_date">Ends at                        </th>
                                                    <th data-sortable="true" data-field="budget">
                                                        Budget (₹)
                                                    </th>
                                                    <th data-formatter="actionsFormatter">Actions</th>
                                                </tr>
                                            </thead>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            <script>
                                var label_update = '
                                                                                                                    Update ';
                                var label_delete = '
                                                                                                                    Delete ';
                                var label_not_assigned = '
                                                                                                                    Not assigned ';
                                var add_favorite = '
                                                                                                                    Click to mark as favorite ';
                                var remove_favorite = '
                                                                                                                    Click to remove from favorite ';
                                var label_duplicate = '
                                                                                                                    Duplicate ';

                            </script>
                            <script src="~/js/project-list.js"></script>
                        </div>

                    </div>

                    <div class="tab-pane fade "
                         id="navs-top-tasks" role="tabpanel">

                        <div class="">

                            <div class="d-flex justify-content-between">
                                <h4 class="fw-bold">Sid's Tasks                                    </h4>
                            </div>
                            <!-- tasks -->
                            <div class="">
                                <div>


                                    <div class="row mt-4 ">
                                        <div class="mb-3 col-md-3">
                                            <div class="input-group input-group-merge">
                                                <input type="text" id="task_start_date_between" name="task_start_date_between" class="form-control"
                                                       placeholder="Start date between" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="mb-3 col-md-3">
                                            <div class="input-group input-group-merge">
                                                <input type="text" id="task_end_date_between" name="task_end_date_between" class="form-control"
                                                       placeholder="End date between" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-select" id="tasks_project_filter" aria-label="Default select example">
                                                <option value="">Select project</option>
                                                <option value="11">
                                                    Software App
                                                </option>
                                                <option value="12">
                                                    Frontend development
                                                </option>
                                                <option value="13">
                                                    UI/UX Designing
                                                </option>
                                                <option value="14">
                                                    Client Issue in Web
                                                </option>
                                                <option value="15">
                                                    eShop Marketing
                                                </option>
                                                <option value="16">
                                                    Lot 1837
                                                </option>
                                                <option value="17">
                                                    Test
                                                </option>
                                                <option value="18">
                                                    Create a YouTube channel
                                                </option>
                                                <option value="19">
                                                    Web app development
                                                </option>
                                                <option value="20">
                                                    fsssds
                                                </option>
                                                <option value="21">
                                                    Background Check
                                                </option>
                                                <option value="22">
                                                    Testing
                                                </option>
                                                <option value="23">
                                                    HSER
                                                </option>
                                            </select>

                                        </div>

                                        <div class="col-md-3">
                                            <select class="form-select" id="tasks_user_filter" aria-label="Default select example">
                                                <option value="">Select user</option>
                                                <option value="5">
                                                    Sid gor
                                                </option>
                                                <option value="7">
                                                    Team Member 1
                                                </option>
                                                <option value="14">
                                                    King Lost
                                                </option>
                                                <option value="15">
                                                    jimy karter
                                                </option>
                                                <option value="16">
                                                    kenny blinder
                                                </option>
                                                <option value="34">
                                                    Akash Dhaman
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-select" id="tasks_client_filter" aria-label="Default select example">
                                                <option value="">Select client</option>
                                                <option value="2">
                                                    same parker
                                                </option>
                                                <option value="3">
                                                    Thomas bond
                                                </option>
                                                <option value="4">
                                                    shie Waine
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-md-3">
                                            <select class="form-select" id="task_status_filter" aria-label="Default select example">
                                                <option value="">Select status</option>



                                                <option value="0">Default</option>

                                                <option value="72">STARTED</option>




                                                <option value="73">ON GOING</option>




                                                <option value="74">IN REVIEW</option>

                                            </select>
                                        </div>


                                    </div>

                                    <input type="hidden" name="task_start_date_from" id="task_start_date_from">
                                    <input type="hidden" name="task_start_date_to" id="task_start_date_to">

                                    <input type="hidden" name="task_end_date_from" id="task_end_date_from">
                                    <input type="hidden" name="task_end_date_to" id="task_end_date_to">

                                    <input type="hidden" id="data_type" value="tasks">
                                    <input type="hidden" id="data_table" value="task_table">

                                    <div class="">
                                        <table id="task_table" data-toggle="table" data-loading-template="loadingTemplate"
                                               data-url="https://taskify-saas.taskhub.company/master-panel/tasks/list"
                                               data-route-prefix="/master-panel" data-icons-prefix="bx"
                                               data-icons="icons" data-show-refresh="true" data-total-field="total" data-trim-on-search="false"
                                               data-data-field="rows" data-page-list="[5, 10, 20, 50, 100, 200]" data-search="true"
                                               data-side-pagination="server" data-show-columns="true" data-pagination="true" data-sort-name="id"
                                               data-sort-order="desc" data-mobile-responsive="true" data-query-params="queryParamsTasks">

                                            <thead>
                                                <tr>
                                                    <th data-checkbox="true"></th>
                                                    <th data-sortable="true" data-field="id">ID</th>
                                                    <th data-sortable="true" data-field="title">Task</th>
                                                    <th data-sortable="true" data-field="project_id">Project                        </th>
                                                    <th data-field="users" data-formatter="TaskUserFormatter">
                                                        Users
                                                    </th>
                                                    <th data-field="clients" data-formatter="TaskClientFormatter">
                                                        Clients
                                                    </th>
                                                    <th data-sortable="true" data-field="start_date">
                                                        Starts at
                                                    </th>
                                                    <th data-sortable="true" data-field="end_date">Ends at                        </th>
                                                    <th data-sortable="true" data-field="status_id">Status                        </th>
                                                    <th data-formatter="actionFormatter">Actions</th>
                                                </tr>
                                            </thead>
                                        </table>

                                    </div>
                                </div>
                            </div>


                            <script>
                                var label_update = 'Update ';
                                var label_delete = 'Delete ';
                                var label_duplicate = 'Duplicate ';
                                var label_not_assigned = 'Not assigned ';
                                var add_favorite = 'Click to mark as favorite ';
                                var remove_favorite = 'Click to remove from favorite ';
                                var id = '';
                            </script>
                            <script src="~/js/task.js"></script>
                        </div>

                    </div>

                </div>
            </div>
            <!-- ------------------------------------------- -->
        </div>
        <script>
            var labels = ['Default', 'STARTED', 'ON GOING', 'IN REVIEW'];
            var project_data = [2, 4, 5, 2];
            var task_data = [3, 7, 20, 18];
            var bg_colors = ['#6777ef', '#ff3300', '#3333cc', '#ff00ff'];
            var total_projects = [13];
            var total_tasks = [48];
            var total_todos = [5];
            var todo_data = [3, 2];
            //labels
            var done = 'Done ';
            var pending = 'Pending ';
            var total = 'Total ';
        </script>
        <script src="~/js/apexcharts.js"></script><script src="~/js/dashboard.js"></script>

        <script>
            var label_please_wait = 'Please wait...';
            var label_please_select_records_to_delete = 'Please select records to delete.';
            var label_something_went_wrong = 'Something went wrong.';
            var label_please_correct_errors = 'Please correct errors.';
            var label_project_removed_from_favorite_successfully = 'Project removed from favorite successfully.';
            var label_project_marked_as_favorite_successfully = 'Project marked as favorite successfully.';
            var label_yes = 'Yes';
            var label_upload = 'Upload';
        </script>
    </div>
}


    


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
